<form class="catalog-page grid" [formGroup]="form" (ngSubmit)="loadCatalog()" [style]="{'max-width': '720px'}">
    <p-card>

        <p-fieldset class="col-12">
            <div class="grid row-gap-3" formGroupName="all">
                @for (item of checkboxes; track $index) {
                <p-checkbox class="col-4" [label]="item.title" [binary]="true" [formControlName]="item.field" />
                }
            </div>
        </p-fieldset>

        <div class="col-12 flex justify-content-between">
            <div class="flex gap-2 align-items-center">
                <p-button type="submit" label="Tải danh mục" severity="help"
                    [loading]="asyncLoading" loadingIcon="pi pi-sync"></p-button>
                <p-checkbox class="select-all ml-2" label="Lấy tất cả" [binary]="true" formControlName="selectAll" />
            </div>
            <p-button label="{{'actions.close' | translate }}" severity="warning"
                (onClick)="closeDialog()" [disabled]="asyncLoading" *ngIf="hasDialog"></p-button>
        </div>

    </p-card>
</form>