@use "../../../setting/colors" as clr;
@use "../../../setting/config" as cfg;

.p-fieldset {
  padding: cfg.$fieldsetPadding;
  margin: 0;

  &.p-fieldset-toggleable {
    .p-fieldset-legend {
      a {
        padding: 0.5rem 0.75rem;

        .p-fieldset-legend-text {
          padding: 0;
        }

        .p-fieldset-toggler {
          color: cfg.$textSecondaryColor;
        }
      }

      &:hover {
        background-color: clr.$shade100;
      }
    }
  }

  .p-fieldset-legend {
    border: 0 none;
    padding: 0;
    margin-bottom: 0.375rem;

    span:not(:empty) {
      padding: 0.5rem 0.75rem;
    }
  }

  .p-fieldset-content {
    padding: 0;
  }
}
