@use "../../../setting/config" as cfg;.p-password-panel {
    background-color: cfg.$inputOverlayBg;
    border: cfg.$inputOverlayBorder;
    padding: .75rem;
    box-shadow: cfg.$inputOverlayShadow;
    border-radius: cfg.$borderRadius;

    .p-password-meter {
        margin-bottom: .75rem;
        background: cfg.$passwordMeterBg;
        border-radius: cfg.$borderRadius;

        .p-password-strength {
            border-radius: cfg.$borderRadius;
            
            &.weak {
                background: cfg.$passwordWeakBg;
            }

            &.medium {
                background: cfg.$passwordMediumBg;
            }

            &.strong {
                background: cfg.$passwordStrongBg;
            }
        }
    }
}
