@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-confirm-popup {
    background: cfg.$overlayContentBg;
    color: cfg.$panelContentTextColor;
    border: cfg.$overlayContentBorder;
    border-radius: cfg.$borderRadius;
    box-shadow: cfg.$overlayContainerShadow;

    .p-confirm-popup-content {
        padding: cfg.$panelContentPadding;
    }

    .p-confirm-popup-footer {
        text-align: right;
        padding: cfg.$panelFooterPadding;

        button {
            margin: 0 cfg.$inlineSpacing 0 0;
            width: auto;

            &:last-child {
                margin: 0;
            }
        }
    }

    &:after {
        border-style: solid;
        border-color: rgba(cfg.$overlayContentBg, 0);
        border-bottom-color: cfg.$overlayContentBg;
    }

    &:before {
        border: solid transparent;

        @if (nth(cfg.$overlayContentBorder, 2) == 'none') {
            border-color: rgba(cfg.$overlayContentBg, 0);
            border-bottom-color: cfg.$overlayContentBg;
        }
        @else {
            border-color: rgba(nth(cfg.$overlayContentBorder, 3), 0);
            border-bottom-color: nth(cfg.$overlayContentBorder, 3);
        }
    }

    &.p-confirm-popup-flipped {
        &:after {
            border-top-color: cfg.$overlayContentBg;
        }

        &:before {
            @if (nth(cfg.$overlayContentBorder, 2) == 'none') {
                border-top-color: cfg.$overlayContentBg;
            }
            @else {
                border-top-color: nth(cfg.$overlayContentBorder, 3);
            }
        }
    }

    .p-confirm-popup-icon {
        font-size: cfg.$primeIconFontSize * 1.5;
        
        &.p-icon {
            width: cfg.$primeIconFontSize * 1.5;
            height: cfg.$primeIconFontSize * 1.5;
        }
    }

    .p-confirm-popup-message {
        margin-left: cfg.$inlineSpacing * 2;
    }
}
