@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

$dialog-cls: 'p-dialog';

.#{$dialog-cls} {
  border-radius: cfg.$borderRadius;
  box-shadow: cfg.$overlayContainerShadow;
  border: cfg.$overlayContentBorder;

  &-header {
    margin: cfg.$dialogHeaderMargin;
    padding: cfg.$dialogHeaderPadding;
    border-bottom: cfg.$dialogHeaderBorder;
    background: transparent; //cfg.$dialogHeaderBg;
    color: cfg.$dialogHeaderTextColor;
    border-top-right-radius: cfg.$borderRadius;
    border-top-left-radius: cfg.$borderRadius;
    border-bottom: cfg.$dialogHeaderBottomBorder;

    .#{$dialog-cls}-title {
      font-weight: cfg.$dialogHeaderFontWeight;
      font-size: cfg.$dialogHeaderFontSize;
    }

    &-icon {
      margin-right: cfg.$inlineSpacing;
      @include util.action-icon();

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    background: cfg.$overlayContentBg;
    color: cfg.$panelContentTextColor;

    padding: cfg.$dialogContentPadding;
    margin: cfg.$dialogContentMargin;

    &:last-of-type {
      border-bottom-right-radius: cfg.$borderRadius;
      border-bottom-left-radius: cfg.$borderRadius;
    }
  }

  &-footer {
    padding: cfg.$dialogFooterPadding;
    margin: cfg.$dialogFooterMargin;
    border-top: cfg.$dialogFooterBorder;
    background: cfg.$dialogFooterBg;
    color: cfg.$panelFooterTextColor;
    text-align: right;
    border-bottom-right-radius: cfg.$borderRadius;
    border-bottom-left-radius: cfg.$borderRadius;

    button {
      //margin: 0 cfg.$inlineSpacing 0 0;
      width: auto;
    }

    .div-alert-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: cfg.$dialogFooterButtonGap;
      justify-content: cfg.$dialogFooterButtonPos;
    }

  }

  &-maximized {
    margin: 0 !important;
    border-radius: 0;
  }


  &.p-confirm-dialog {
    .p-confirm-dialog-icon {
      font-size: cfg.$primeIconFontSize * 2;

      &.p-icon {
        width: cfg.$primeIconFontSize * 2;
        height: cfg.$primeIconFontSize * 2;
      }
    }

    .p-confirm-dialog-message {
      margin-left: cfg.$inlineSpacing * 2;
    }
  }
}