@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-tooltip {
    .p-tooltip-text {
        background: cfg.$tooltipBg;
        color: cfg.$tooltipTextColor;
        padding: cfg.$tooltipPadding;
        box-shadow: cfg.$inputOverlayShadow;
        border-radius: cfg.$borderRadius;
    }

    &.p-tooltip-right {
        .p-tooltip-arrow {
            border-right-color: cfg.$tooltipBg;
        }
    }

    &.p-tooltip-left {
        .p-tooltip-arrow {
            border-left-color: cfg.$tooltipBg;
        }
    }

    &.p-tooltip-top {
        .p-tooltip-arrow {
            border-top-color: cfg.$tooltipBg;
        }
    }

    &.p-tooltip-bottom {
        .p-tooltip-arrow {
            border-bottom-color: cfg.$tooltipBg;
        }
    }
}
