@use "../setting/config" as cfg;

@mixin box-shadow($shadow...) {

    $result: ();

    @each $value in $shadow {
        @if $value !=null {
            $result: append($result, $value, "comma");
        }

        @if $value==none and length($shadow)>1 {
            @warn "The keyword 'none' must be used as a single argument.";
        }
    }

    @if (length($result) > 0) {
        box-shadow: $result;
    }
}


@mixin flex-column($wrap: nowrap) {
    display  : flex;
    flex-flow: column $wrap;
}

@mixin flex-row($wrap: wrap, $gap: cfg.$flexGap) {
    display  : flex;
    flex-flow: row $wrap;
    align-items: center;
    gap: $gap;
}


///border-radius
/// Helper function to replace negative values with 0

