<div class="grid">
    <p-card class="col-12">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="grid sm">
            @for (field of fields; track $index) {
                <div class="p-fluid" [ngClass]="field?.class">
                    <label [attr.for]="field.fieldId">{{field.label | translate}}</label>
                    @switch (field.type) {
                        @case ('input') {
                            <input pInputText placeholder="{{field.placeholder | translate}}"
                                   [attr.id]="field.fieldId" [formControlName]="field.fieldId">
                        }
                        @case ('area') {
                            <textarea pInputTextarea placeholder="{{field.placeholder | translate}}"
                                      [attr.id]="field.fieldId" [formControlName]="field.fieldId"
                                      [autoResize]="field.options?.autoResize"
                                      [rows]="field.options?.rows" [cols]="field.options?.cols"></textarea>
                        }
                    }
                </div>

            }
            <div class="col-12 flex gap-2">
                <p-button type="submit" label="{{submitLabel | translate}}"></p-button>
                <p-button label="Lấy danh sách"></p-button>
                <p-button label="Xóa dòng"></p-button>
            </div>
        </form>
    </p-card>
    <div class="col-12">
        <ts-ag-table [columns]="agColumns" [option]="agOption" [tableHeight]="'350px'"></ts-ag-table>
    </div>
</div>