@use "../setting/config" as cfg;

$prefix: cfg.$prefix;
$headingColor: var(--#{$prefix}heading-color);

%heading {
    margin: #{cfg.$headings-margin} 0;
    font-family  : #{cfg.$headings-font-family};
    font-style   : #{cfg.$headings-font-style};
    font-weight  : #{cfg.$headings-font-weight};
    line-height  : #{cfg.$headings-line-height};
    color        : $headingColor;

    &:first-child {
        margin-top: 0;
    }
}

@each $key,$size in cfg.$font-sizes {
    h#{$key} {
        @extend %heading;
        font-size: $size;
    }
}