.p-icon-field-left{
    .p-input-icon:first-of-type {
        left: $inputIconPadding;
        color: $inputIconColor;
    }
}

.p-icon-field-right {
    .p-input-icon:last-of-type  {
        right: $inputIconPadding;
        color: $inputIconColor;
    }
}