<!-- <ts-page-status [status]="503" [title]="'Internal Server Error'"  [style]="{'max-width': '800px'}" [homeUrl]="['/ticket-list']"
                [description]="'The page you are attempting to reach is currently not available. This may be because the page does not exist or has been moved.'"
        [header]="'https://angular.pixelstrap.com/endless/assets/images/other-images/sad.png'"></ts-page-status> -->
<div class="p-4">

        <!-- <ts-border-panel [bottom]="bottom" [left]="left" [right]="right" [center]="center">
                <ng-template pTemplate="top">top</ng-template>
                <ng-template #bottom>bottom</ng-template>
                <ng-template #left>left</ng-template>
                <ng-template #center>center</ng-template>
                <ng-template #right>right</ng-template>
        </ts-border-panel> -->

        <!-- <ts-card header="Card header" headerIcon="pi pi-home" 
                [headerLeft]="headerLeft" [headerRight]="headerRight" [actions]="cardActions"
                [actionTemplate]="action" [content]="content" contentStyleClass="grid" 
                [footerClass]="'justify-content-center'">
                <ng-template #headerLeft>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                </ng-template>
 
                <ng-template #headerRight>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                        <span class="pi pi-at"></span>
                </ng-template>

                <ng-template #action let-btn>
                        <p-button [label]="btn.label" [icon]="btn.icon"></p-button>
                </ng-template>

                <ng-template #content>
                      <div class="col-12 p-fluid">
                        <input pInputText />
                      </div>
                </ng-template>


        </ts-card> -->

        <ts-side-item [item]="menuItem">

        </ts-side-item>
</div>