@use "../settings/config" as cfg;
@use "../settings/utils";

// ordinary
$color-bg: -color-bg-subtle !default;
$color-fg: -color-fg-default !default;
$color-border: -color-border-default !default;

$color-bg-hover: if(cfg.$darkMode, -color-base-6, -color-base-1) !default;
$color-fg-hover: -color-button-fg !default;
$color-border-hover: -color-button-border !default;

$color-bg-focused: -color-button-bg !default;
$color-fg-focused: -color-button-fg !default;
$color-border-focused: -color-accent-emphasis !default;

$color-bg-pressed: -color-bg-subtle !default;
$color-fg-pressed: -color-button-fg !default;
$color-border-pressed: transparent !default;

// accent
$color-accent-bg: -color-accent-emphasis !default;
$color-accent-fg: -color-fg-emphasis !default;
$color-accent-border: -color-accent-emphasis !default;

$color-accent-bg-hover: -color-accent-emphasis !default;
$color-accent-fg-hover: -color-fg-emphasis !default;
$color-accent-border-hover: -color-accent-emphasis !default;

$color-accent-bg-focused: -color-accent-6 !default;
$color-accent-fg-focused: -color-fg-emphasis !default;
$color-accent-border-focused: -color-accent-emphasis !default;

$color-accent-bg-pressed: -color-accent-emphasis !default;
$color-accent-fg-pressed: -color-fg-emphasis !default;
$color-accent-border-pressed: transparent !default;

// success
$color-success-bg: -color-success-emphasis !default;
$color-success-fg: -color-fg-emphasis !default;
$color-success-border: -color-success-emphasis !default;

$color-success-bg-hover: -color-success-emphasis !default;
$color-success-fg-hover: -color-fg-emphasis !default;
$color-success-border-hover: -color-success-emphasis !default;

$color-success-bg-focused: if(cfg.$darkMode, -color-success-6, -color-success-5) !default;
$color-success-fg-focused: -color-fg-emphasis !default;
$color-success-border-focused: -color-success-emphasis !default;

$color-success-bg-pressed: -color-success-emphasis !default;
$color-success-fg-pressed: -color-fg-emphasis !default;
$color-success-border-pressed: transparent !default;

// danger
$color-danger-bg: -color-danger-emphasis !default;
$color-danger-fg: -color-fg-emphasis !default;
$color-danger-border: -color-danger-emphasis !default;

$color-danger-bg-hover: -color-danger-emphasis !default;
$color-danger-fg-hover: -color-fg-emphasis !default;
$color-danger-border-hover: -color-danger-emphasis !default;

$color-danger-bg-focused: -color-danger-6 !default;
$color-danger-fg-focused: -color-fg-emphasis !default;
$color-danger-border-focused: -color-danger-emphasis !default;

$color-danger-bg-pressed: -color-danger-emphasis !default;
$color-danger-fg-pressed: -color-fg-emphasis !default;
$color-danger-border-pressed: transparent !default;

// primary
$color-primary-bg: -color-primary-emphasis !default;
$color-primary-fg: -color-fg-emphasis !default;
$color-primary-border: -color-primary-emphasis !default;

$color-primary-bg-hover: -color-primary-emphasis !default;
$color-primary-fg-hover: -color-fg-emphasis !default;
$color-primary-border-hover: -color-primary-emphasis !default;

$color-primary-bg-focused: -color-primary-6 !default;
$color-primary-fg-focused: -color-fg-emphasis !default;
$color-primary-border-focused: -color-primary-emphasis !default;

$color-primary-bg-pressed: -color-primary-emphasis !default;
$color-primary-fg-pressed: -color-fg-emphasis !default;
$color-primary-border-pressed: transparent !default;

// secondary
$color-secondary-bg: -color-secondary-emphasis !default;
$color-secondary-fg: -color-fg-emphasis !default;
$color-secondary-border: -color-secondary-emphasis !default;

$color-secondary-bg-hover: -color-secondary-emphasis !default;
$color-secondary-fg-hover: -color-fg-emphasis !default;
$color-secondary-border-hover: -color-secondary-emphasis !default;

$color-secondary-bg-focused: -color-secondary-6 !default;
$color-secondary-fg-focused: -color-fg-emphasis !default;
$color-secondary-border-focused: -color-secondary-emphasis !default;

$color-secondary-bg-pressed: -color-secondary-emphasis !default;
$color-secondary-fg-pressed: -color-fg-emphasis !default;
$color-secondary-border-pressed: transparent !default;

// info
$color-info-bg: -color-info-emphasis !default;
$color-info-fg: -color-fg-emphasis !default;
$color-info-border: -color-info-emphasis !default;

$color-info-bg-hover: -color-info-emphasis !default;
$color-info-fg-hover: -color-fg-emphasis !default;
$color-info-border-hover: -color-info-emphasis !default;

$color-info-bg-focused: -color-info-6 !default;
$color-info-fg-focused: -color-fg-emphasis !default;
$color-info-border-focused: -color-info-emphasis !default;

$color-info-bg-pressed: -color-info-emphasis !default;
$color-info-fg-pressed: -color-fg-emphasis !default;
$color-info-border-pressed: transparent !default;

// button-help
$color-help-bg: -color-help-emphasis !default;
$color-help-fg: -color-fg-emphasis !default;
$color-help-border: -color-help-emphasis !default;

$color-help-bg-hover: -color-help-emphasis !default;
$color-help-fg-hover: -color-fg-emphasis !default;
$color-help-border-hover: -color-help-emphasis !default;

$color-help-bg-focused: if(cfg.$darkMode, -color-help-6, -color-help-5) !default;
$color-help-fg-focused: -color-fg-emphasis !default;
$color-help-border-focused: -color-help-emphasis !default;

$color-help-bg-pressed: -color-help-emphasis !default;
$color-help-fg-pressed: -color-fg-emphasis !default;
$color-help-border-pressed: transparent !default;

// button-warning
$color-warning-bg: -color-warning-emphasis !default;
$color-warning-fg: -color-fg-emphasis !default;
$color-warning-border: -color-warning-emphasis !default;

$color-warning-bg-hover: -color-warning-emphasis !default;
$color-warning-fg-hover: -color-fg-emphasis !default;
$color-warning-border-hover: -color-warning-emphasis !default;

$color-warning-bg-focused: if(cfg.$darkMode, -color-warning-6, -color-warning-5) !default;
$color-warning-fg-focused: -color-fg-emphasis !default;
$color-warning-border-focused: -color-warning-emphasis !default;

$color-warning-bg-pressed: -color-warning-emphasis !default;
$color-warning-fg-pressed: -color-fg-emphasis !default;
$color-warning-border-pressed: transparent !default;


// flat
$color-flat-fg: -color-fg-default !default;
$color-flat-bg-hover: -color-bg-subtle !default;
$color-flat-accent-fg: -color-accent-fg !default;
$color-flat-accent-bg-hover: -color-accent-subtle !default;
$color-flat-success-fg: -color-success-fg !default;
$color-flat-success-bg-hover: -color-success-subtle !default;
$color-flat-danger-fg: -color-danger-fg !default;
$color-flat-danger-bg-hover: -color-danger-subtle !default;

// outlined
$color-accent-outlined-fg: -color-accent-fg !default;
$color-accent-outlined-bg-hover: $color-accent-bg-hover !default;
$color-success-outlined-fg: -color-success-fg !default;
$color-success-outlined-bg-hover: $color-success-bg-hover !default;
$color-danger-outlined-fg: -color-danger-fg !default;
$color-danger-outlined-bg-hover: $color-danger-bg-hover !default;





// opacity level for hover effect
$opacity-hover: 0.9 !default;

$use-shadow:   false !default;
$color-shadow: -color-shadow-default !default;

$padding-x:cfg.$padding-x;
$padding-y:cfg.$padding-y;

@mixin base() {

  // buttons can be configured via looked-up colors
  -color-button-bg: $color-bg;
  -color-button-fg: $color-fg;
  -color-button-border: $color-border;

  -color-button-bg-hover: $color-bg-hover;
  -color-button-fg-hover: $color-fg-hover;
  -color-button-border-hover: $color-border-hover;

  -color-button-bg-focused: $color-bg-focused;
  -color-button-fg-focused: $color-fg-focused;
  -color-button-border-focused: $color-border-focused;

  -color-button-bg-pressed: $color-bg-pressed;
  -color-button-fg-pressed: $color-fg-pressed;
  -color-button-border-pressed: $color-border-pressed;

  -color-button-shadow: $color-shadow;

  -fx-background-color: -color-button-border, -color-button-bg;
  -fx-background-insets: 0, cfg.$border-width;
  -fx-background-radius: cfg.$border-radius, cfg.$inner-border-radius;
  -fx-graphic-text-gap: cfg.$graphic-gap;
  -fx-text-fill: -color-button-fg;
  -fx-alignment: CENTER;

  #{cfg.$icon-selector} {
    -fx-icon-color: -color-button-fg;
    -fx-fill: -color-button-fg;
  }

  &:disabled {
    -fx-opacity: cfg.$opacity-disabled;
    -fx-effect: none;
  }

  &:show-mnemonics {
    > .mnemonic-underline {
      -fx-stroke: -color-button-fg;
    }
  }

  // Button calculates its height based on the internal text font size.
  // So, button that has no text (or icon) will appear lower than regular
  // buttons. There're no workarounds, but you can set escape char like
  // \s or \f as button text.
  &-icon {
    -fx-padding: cfg.$padding-y;
    -fx-content-display: graphic-only;
  }

  &-circle {
    -fx-background-radius: 50;
    -fx-padding: 6px 8px 6px 8px;
    -fx-content-display: graphic-only;
    -fx-effect: none;
  }

}


@mixin success() {

  -color-button-bg: $color-success-bg;
  -color-button-fg: $color-success-fg;
  -color-button-border: $color-success-border;

  -color-button-bg-hover: $color-success-bg-hover;
  -color-button-fg-hover: $color-success-fg-hover;
  -color-button-border-hover: $color-success-border-hover;

  -color-button-bg-focused: $color-success-bg-focused;
  -color-button-fg-focused: $color-success-fg-focused;
  -color-button-border-focused: $color-success-border-focused;

  -color-button-bg-pressed: $color-success-bg-pressed;
  -color-button-fg-pressed: $color-success-fg-pressed;
  -color-button-border-pressed: $color-success-border-pressed;

  //&-outlined {
  //  -color-button-bg: -color-bg-default;
  //  -color-button-fg: $color-success-outlined-fg;
  //  -color-button-bg-hover: $color-success-outlined-bg-hover;
  //  -color-button-fg-hover: -color-fg-emphasis;
  //}
  //
  //&-flat {
  //  -color-button-fg: $color-flat-success-fg;
  //  -color-button-bg-hover: $color-flat-success-bg-hover;
  //}

}

@mixin danger() {

  -color-button-bg: $color-danger-bg;
  -color-button-fg: $color-danger-fg;
  -color-button-border: $color-danger-border;

  -color-button-bg-hover: $color-danger-bg-hover;
  -color-button-fg-hover: $color-danger-fg-hover;
  -color-button-border-hover: $color-danger-border-hover;

  -color-button-bg-focused: $color-danger-bg-focused;
  -color-button-fg-focused: $color-danger-fg-focused;
  -color-button-border-focused: $color-danger-border-focused;

  -color-button-bg-pressed: $color-danger-bg-pressed;
  -color-button-fg-pressed: $color-danger-fg-pressed;
  -color-button-border-pressed: $color-danger-border-pressed;

  //&.button-outlined {
  //  -color-button-bg: -color-bg-default;
  //  -color-button-fg: $color-danger-outlined-fg;
  //  -color-button-bg-hover: $color-danger-outlined-bg-hover;
  //  -color-button-fg-hover: -color-fg-emphasis;
  //}
  //
  //&.flat {
  //  -color-button-fg: $color-flat-danger-fg;
  //  -color-button-bg-hover: $color-flat-danger-bg-hover;
  //}
}

@mixin help() {
  -color-button-bg: $color-help-bg;
  -color-button-fg: $color-help-fg;
  -color-button-border: $color-help-border;

  -color-button-bg-hover: $color-help-bg-hover;
  -color-button-fg-hover: $color-help-fg-hover;
  -color-button-border-hover: $color-help-border-hover;

  -color-button-bg-focused: $color-help-bg-focused;
  -color-button-fg-focused: $color-help-fg-focused;
  -color-button-border-focused: $color-help-border-focused;

  -color-button-bg-pressed: $color-help-bg-pressed;
  -color-button-fg-pressed: $color-help-fg-pressed;
  -color-button-border-pressed: $color-help-border-pressed;

}

@mixin primary() {
  -color-button-bg: $color-primary-bg;
  -color-button-fg: $color-primary-fg;
  -color-button-border: $color-primary-border;

  -color-button-bg-hover: $color-primary-bg-hover;
  -color-button-fg-hover: $color-primary-fg-hover;
  -color-button-border-hover: $color-primary-border-hover;

  -color-button-bg-focused: $color-primary-bg-focused;
  -color-button-fg-focused: $color-primary-fg-focused;
  -color-button-border-focused: $color-primary-border-focused;

  -color-button-bg-pressed: $color-primary-bg-pressed;
  -color-button-fg-pressed: $color-primary-fg-pressed;
  -color-button-border-pressed: $color-primary-border-pressed;

}

@mixin secondary() {
  -color-button-bg: $color-secondary-bg;
  -color-button-fg: $color-secondary-fg;
  -color-button-border: $color-secondary-border;

  -color-button-bg-hover: $color-secondary-bg-hover;
  -color-button-fg-hover: $color-secondary-fg-hover;
  -color-button-border-hover: $color-secondary-border-hover;

  -color-button-bg-focused: $color-secondary-bg-focused;
  -color-button-fg-focused: $color-secondary-fg-focused;
  -color-button-border-focused: $color-secondary-border-focused;

  -color-button-bg-pressed: $color-secondary-bg-pressed;
  -color-button-fg-pressed: $color-secondary-fg-pressed;
  -color-button-border-pressed: $color-secondary-border-pressed;

}

@mixin info() {
  -color-button-bg: $color-info-bg;
  -color-button-fg: $color-info-fg;
  -color-button-border: $color-info-border;

  -color-button-bg-hover: $color-info-bg-hover;
  -color-button-fg-hover: $color-info-fg-hover;
  -color-button-border-hover: $color-info-border-hover;

  -color-button-bg-focused: $color-info-bg-focused;
  -color-button-fg-focused: $color-info-fg-focused;
  -color-button-border-focused: $color-info-border-focused;

  -color-button-bg-pressed: $color-info-bg-pressed;
  -color-button-fg-pressed: $color-info-fg-pressed;
  -color-button-border-pressed: $color-info-border-pressed;

}

@mixin flat() {
  -color-button-bg: transparent;
  -color-button-fg: $color-flat-fg;
  -color-button-border: transparent;

  -color-button-bg-hover: $color-flat-bg-hover;
  -color-button-fg-hover: -color-button-fg;
  -color-button-border-hover: $color-flat-bg-hover;

  -color-button-bg-focused: -color-button-bg;
  -color-button-fg-focused: -color-button-fg;
  -color-button-border-focused: -color-button-bg;

  -color-button-bg-pressed: -color-button-bg;
  -color-button-fg-pressed: -color-button-fg;
  -color-button-border-pressed: transparent;

  -fx-effect: none;
}

@mixin accent() {

  -color-button-bg:             $color-accent-bg;
  -color-button-fg:             $color-accent-fg;
  -color-button-border:         $color-accent-border;

  -color-button-bg-hover:       $color-accent-bg-hover;
  -color-button-fg-hover:       $color-accent-fg-hover;
  -color-button-border-hover:   $color-accent-border-hover;

  -color-button-bg-focused:     $color-accent-bg-focused;
  -color-button-fg-focused:     $color-accent-fg-focused;
  -color-button-border-focused: $color-accent-border-focused;

  -color-button-bg-pressed:     $color-accent-bg-pressed;
  -color-button-fg-pressed:     $color-accent-fg-pressed;
  -color-button-border-pressed: $color-accent-border-pressed;

  &.button-outlined {
    -color-button-bg:       -color-bg-default;
    -color-button-fg:       $color-accent-outlined-fg;
    -color-button-bg-hover: $color-accent-outlined-bg-hover;
    -color-button-fg-hover: -color-fg-emphasis;
  }

  &.flat {
    -color-button-fg:         $color-flat-accent-fg;
    -color-button-bg-hover:   $color-flat-accent-bg-hover;
  }
}

@mixin warning() {

  -color-button-bg: $color-warning-bg;
  -color-button-fg: $color-warning-fg;
  -color-button-border: $color-warning-border;

  -color-button-bg-hover: $color-warning-bg-hover;
  -color-button-fg-hover: $color-warning-fg-hover;
  -color-button-border-hover: $color-warning-border-hover;

  -color-button-bg-focused: $color-warning-bg-focused;
  -color-button-fg-focused: $color-warning-fg-focused;
  -color-button-border-focused: $color-warning-border-focused;

  -color-button-bg-pressed: $color-warning-bg-pressed;
  -color-button-fg-pressed: $color-warning-fg-pressed;
  -color-button-border-pressed: $color-warning-border-pressed;

  //&-outlined {
  //  -color-button-bg: -color-bg-default;
  //  -color-button-fg: $color-success-outlined-fg;
  //  -color-button-bg-hover: $color-success-outlined-bg-hover;
  //  -color-button-fg-hover: -color-fg-emphasis;
  //}
  //
  //&-flat {
  //  -color-button-fg: $color-flat-success-fg;
  //  -color-button-bg-hover: $color-flat-success-bg-hover;
  //}

}


.button {
  @include base();

  -fx-padding: $padding-y $padding-x;
  -fx-severity: warning;
  -fx-disabled: true;

  &:hover {
    -fx-background-color: -color-button-border-hover, -color-button-bg-hover;
    -fx-text-fill: -color-button-fg-hover;
    -fx-opacity: $opacity-hover;

    &:focused {
      -fx-background-color: -color-button-border-focused, -color-button-bg-hover;
    }

    #{cfg.$icon-selector} {
      -fx-icon-color: -color-button-fg-hover;
      -fx-fill: -color-button-fg-hover;
    }
  }


  &:primary {@include primary();}
  &:secondary {@include secondary();}
  &:info {@include info();}
  &:help {@include help();}
  &:danger {@include danger();}
  &:success {@include success();}
  &:warning {@include warning();}


  &:flat {@include flat();}



}