@use "../settings/config" as cfg;

$line-color: -color-border-muted !default;
$line-width: 10px !default;

.divider {
  //-fx-label-gap: 0;
  //-fx-label-pos: TOP_LEFT; // TOP_LEFT | TOP_RIGHT
  //-fx-line-percent: 5;
  //-fx-line-style: solid;
  //-fx-line-weight: 5;
  //-fx-vertical: false;
  -fx-line-color: red;

  //-fx-line-left-color: blue;
  //-fx-line-right-color: #d80dee;

  //-------------------
  -first-line-color: $line-color;
  -last-line-color: $line-color;

  &:horizontal {

    .line {
      -fx-border-insets: $line-width 0 0 0;

      &.first-line {
        -fx-border-color: -first-line-color transparent transparent transparent;
      }

      &.last-line {
        -fx-border-color: -last-line-color transparent transparent transparent;
      }
    }

  }

  &:vertical {
    -fx-min-height: 50;

    .line {
      -fx-border-insets: 0 $line-width 0 0;

      &.first-line {
        -fx-border-color: transparent -first-line-color transparent transparent;
      }

      &.last-line {
        -fx-border-color: transparent -last-line-color transparent transparent;
      }

    }

  }


}
