@use "../settings/config" as cfg;

$color-border: -color-border-default !default;
$tag-prefix-cls: '.tag';

.tag {
  -fx-border-color: $color-border;
  -fx-padding: 0 cfg.$tag-padding-x;
  -fx-close-gap: cfg.$tag-close-gap;

  -fx-tag-color: red;

  //-tag-bg-color: rgb(255, 85, 0);
  //-tag-border-color: white;

  &:checked {
    -fx-background-color: blue!important;
  }

  &:has-custom-color {
    -fx-background-color: -tag-bg-color;
    -fx-border-color: -tag-border-color;
    -fx-tag-text-fill: white;
  }

  &.color-red {
    -fx-tag-text-fill: #cf1322;
    -fx-background-color: #fff1f0;
    -fx-border-color: #ffa39e;
  }


}


//-fx-tag-mode: checked;


//&:has-color-name {
//

//
//}
//
//
//
//&:has-custom-color {

//}
