$field-cls: 'ts-formfield';

.#{$field-cls} {
    
    &-required {
        color: var(--danger-color);
    }

    &-label {
        margin-bottom: .15rem;
    }

    .p-password .p-icon-wrapper {
        right: -.1rem;
    }
}