//reused color variables
$shade000: #ffffff !default;
$shade50: #f8fafc !default;
$shade100: #f1f5f9 !default;
$shade200: #e2e8f0 !default;
$shade300: #cbd5e1 !default;
$shade400: #94a3b8 !default;
$shade500: #64748b !default;
$shade600: #475569 !default;
$shade700: #334155 !default;
$shade800: #1e293b !default;
$shade900: #0f172a !default;
$shade950: #020617 !default;

$colors: (
        "blue": #3b82f6,
        "green": #22c55e,
        "yellow": #eab308,
        "cyan": #06b6d4,
        "pink": #ec4899,
        "indigo": #6366f1,
        "teal": #14b8a6,
        "orange": #f97316,
        "bluegray": #64748b,
        "purple": #a855f7,
        "red": #ff3d32,
        "primary": $primaryColor,
);