.ag-table-field-dialog {
  &.p-dialog-maximized {
    margin: 0 !important;
  }
}

.ag-field-view {
  .col-left .p-card {
    &-title {
      padding: 0.5rem;
      margin: .5rem;
      border-bottom: 5px solid var(--info-color);
    }

    &-body {
      flex: 1 1 0% !important;
      padding: 0!important;
    }

    &-content {
      flex: 1 1 0% !important;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    .r-action {
      background: var(--info-color);
    }

    .r-tree {
      padding: .5rem !important;
      

      .p-tree {
        border-color: transparent;
        padding: 0;

        .p-treenode {
          &:focus > .p-treenode-content {
            outline-width: 0 !important;
          }

          &-content {
            padding: .5rem !important;
            cursor: pointer;

            .p-tree-toggler {
                display: none;
            }

            &:hover {
                background: var(--indigo-50);
                font-weight: bold;
            }

          }

        }
      }
    }
  }
}
