<p-splitter [panelSizes]="[20,80]" [minSizes]="[20,80]" [gutterSize]="1" class="ag-field-view">
    <ng-template pTemplate>
        <p-card header="Danh sách bảng" class="grid w-full m-0 col-left" styleClass="w-full">
            <div class="col-12 r-action flex gap-2 align-items-center">
                <p-button size="small" label="Lấy DS" />
                <p-button size="small" label="Thêm" />
                <p-button size="small" label="Xóa" />
            </div>
            <div class="col-12 flex-1 r-tree">
                <p-tree [value]="treeValue" [filter]="true" selectionMode="single"
                    (selectionChange)="selectTable($event)">
                    <ng-template pTemplate="empty"></ng-template>
                </p-tree>
            </div>
         
        </p-card>
    </ng-template>
    <ng-template pTemplate>
        <p-card class="grid w-full m-0 col-right" styleClass="w-full">
            <p-fieldset legend="-- Thông tin [table] --" class="col-12 borderless">
                <form class="grid sm">
                    <div class="p-fluid col-6">
                        <label for="tb_title">Tiêu đề</label>
                        <input pInputText id="tb_title" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Mã</label>
                        <input pInputText id="tb_code" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_icon">Svg Icon</label>
                        <input pInputText id="tb_icon" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_pos">Vị trí</label>
                        <p-inputNumber id="tb_pos" />
                    </div>
                    <div class="p-fluid col-6">
                        <label for="tb_desc">Mô tả</label>
                        <textarea pInputTextarea id="tb_desc" [autoResize]="true" [rows]="2"></textarea>
                    </div>
                    <div class="p-fluid col-6">
                        <label for="tb_state">Tùy chọn</label>
                        <textarea pInputTextarea id="tb_state" [autoResize]="true" [rows]="2"></textarea>
                    </div>
                    <div class="col-12 flex gap-2">
                        <p-button label="Lưu thông tin bảng" />
                        <p-button label="Tạo bảng" />
                    </div>
                </form>
            </p-fieldset>
            <p-fieldset legend="-- Danh sách [field] --" class="col-12 borderless">
                <form class="grid sm">
                    <div class="p-fluid col-2">
                        <label for="tb_title">Tên cột</label>
                        <input pInputText id="tb_title" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Mã Cột</label>
                        <input pInputText id="tb_code" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_icon">Độ rộng</label>
                        <input pInputText id="tb_icon" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Value Getter</label>
                        <input pInputText id="tb_code" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Cell Renderer</label>
                        <input pInputText id="tb_code" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Cell Class</label>
                        <input pInputText id="tb_code" />
                    </div>
                    <div class="p-fluid col-2">
                        <label for="tb_code">Nhiều hơn</label>
                        <p-multiSelect />
                    </div>
                    <div class="p-fluid col-12 mt-2 flex gap-2">
                        <p-checkbox label="Ẩn Cột" />
                        <p-checkbox label="Sắp xếp" />
                        <p-checkbox label="CheckBox" />
                        <p-checkbox label="WarpText" />
                    </div>
                    <div class="col-12 flex gap-2">
                        <p-button severity="info" label="Lưu lại" />
                    </div>
                </form>
            </p-fieldset>
            <p-fieldset legend="-- Danh sách [field] --" class="col-12 borderless">
                <div class="grid">
                    <div class="col-12">
                    </div>
                    <div class="col-12 flex gap-2 align-items-center">
                        <p-button size="small" label="Lấy DS Cột" />
                        <p-button size="small" label="Thêm cột" />
                        <p-button size="small" label="Xem chi tiết" />
                        <p-button size="small" severity="danger" label="Xóa cột" />
                    </div>
                    <div class="col-12">
                        <ts-ag-table [option]="agFieldOption" [columns]="fieldColumns"></ts-ag-table>
                    </div>

                </div>
            </p-fieldset>
        </p-card>
    </ng-template>
</p-splitter>