@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
    @include util.invalid-input();
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
    @include util.focused-input();
}

.p-datepicker {
    padding: cfg.$calendarPadding;
    background: cfg.$calendarInlineBg;
    color: cfg.$calendarTextColor;
    border: cfg.$calendarBorder;
    border-radius: cfg.$borderRadius;

    &:not(.p-datepicker-inline) {
        background: cfg.$calendarBg;
        border: cfg.$calendarOverlayBorder;
        box-shadow: cfg.$inputOverlayShadow;

        .p-datepicker-header {
            background: cfg.$calendarHeaderBg;
        }
    }

    .p-datepicker-header {
        padding: cfg.$calendarHeaderPadding;
        color: cfg.$calendarHeaderTextColor;
        background: cfg.$calendarInlineHeaderBg;
        font-weight: cfg.$calendarHeaderFontWeight;
        margin: cfg.$inputListHeaderMargin;
        border-bottom: cfg.$calendarHeaderBorder;
        border-top-right-radius: cfg.$borderRadius;
        border-top-left-radius: cfg.$borderRadius;

        .p-datepicker-prev,
        .p-datepicker-next {
            @include util.action-icon();
        }

        .p-datepicker-title {
            line-height: cfg.$actionIconHeight;

            .p-datepicker-year,
            .p-datepicker-month {
                color: cfg.$calendarHeaderTextColor;
                transition: cfg.$actionIconTransition;
                font-weight: cfg.$calendarHeaderFontWeight;
                padding: cfg.$calendarHeaderCellPadding;

                &:enabled:hover {
                    color: cfg.$calendarMonthYearHeaderHoverTextColor;
                }
            }

            .p-datepicker-month {
                margin-right: cfg.$inlineSpacing;
            }
        }
    }

    table {
        font-size: cfg.$fontSize;
        margin: cfg.$calendarTableMargin;

        th {
            padding: cfg.$calendarHeaderCellPadding;

            > span {
                width: cfg.$calendarCellDateWidth;
                height: cfg.$calendarCellDateHeight;
            }
        }

        td {
            padding: cfg.$calendarCellDatePadding;

            > span {
                width: cfg.$calendarCellDateWidth;
                height: cfg.$calendarCellDateHeight;
                border-radius: cfg.$calendarCellDateBorderRadius;
                transition: cfg.$listItemTransition;
                border: cfg.$calendarCellDateBorder;

                &.p-highlight {
                    color: cfg.$highlightTextColor;
                    background: cfg.$highlightBg;
                }

                &:focus {
                    @include util.focused();
                }
            }

            &.p-datepicker-today {
                > span {
                    background: cfg.$calendarCellDateTodayBg;
                    color: cfg.$calendarCellDateTodayTextColor;
                    border-color: cfg.$calendarCellDateTodayBorderColor;

                    &.p-highlight {
                        color: cfg.$highlightTextColor;
                        background: cfg.$highlightBg;
                    }
                }
            }
        }
    }

    .p-datepicker-buttonbar {
        padding: cfg.$calendarButtonBarPadding;
        border-top: cfg.$divider;

        .p-button {
            width: auto;
        }
    }

    .p-timepicker {
        border-top: cfg.$divider;
        padding: cfg.$calendarTimePickerPadding;

        button {
            @include util.action-icon();

            &:last-child {
                margin-top: .2em;
            }
        }

        span {
            font-size: cfg.$calendarTimePickerTimeFontSize;
        }

        > div {
            padding: cfg.$calendarTimePickerElementPadding;
        }
    }

    &.p-datepicker-timeonly {
        .p-timepicker {
            border-top: 0 none;
        }
    }

    .p-monthpicker {
        margin: cfg.$calendarTableMargin;

        .p-monthpicker-month {
            padding: cfg.$calendarCellDatePadding;
            transition: cfg.$listItemTransition;
            border-radius: cfg.$borderRadius;

            &.p-highlight {
                color: cfg.$highlightTextColor;
                background: cfg.$highlightBg;
            }
        }
    }

    .p-yearpicker {
        margin: cfg.$calendarTableMargin;

        .p-yearpicker-year {
            padding: cfg.$calendarCellDatePadding;
            transition: cfg.$listItemTransition;
            border-radius: cfg.$borderRadius;

            &.p-highlight {
                color: cfg.$highlightTextColor;
                background: cfg.$highlightBg;
            }
        }
    }

    &.p-datepicker-multiple-month {
        .p-datepicker-group {
            border-left: cfg.$divider;
            padding-right: cfg.$calendarPadding;
            padding-left: cfg.$calendarPadding;
            //padding-top: 0;
            //padding-bottom: 0;

            &:first-child {
                padding-left: 0;
                border-left: 0 none;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &:not(.p-disabled) {
        table {
            td {
                span:not(.p-highlight):not(.p-disabled) {
                    &:hover {
                        background: cfg.$calendarCellDateHoverBg;
                    }

                    &:focus {
                        @include util.focused();
                    }
                }
            }
        }

        .p-monthpicker {
            .p-monthpicker-month {
                &:not(.p-disabled) {
                    &:not(.p-highlight):hover {
                        background: cfg.$calendarCellDateHoverBg;
                    }

                    &:focus {
                        @include util.focused();
                    }
                }
            }
        }

        .p-yearpicker {
            .p-yearpicker-year {
                &:not(.p-disabled) {
                    &:not(.p-highlight):hover {
                        background: cfg.$calendarCellDateHoverBg;
                    }

                    &:focus {
                        @include util.focused();
                    }
                }
            }
        }
    }

}

p-calendar.p-calendar-clearable {
    .p-inputtext {
        padding-right: nth(cfg.$inputPadding, 2) * 2 + cfg.$primeIconFontSize;
    }
    
    .p-calendar-clear-icon {
        color: cfg.$inputIconColor;
        right: nth(cfg.$inputPadding, 2);
    }
}

p-calendar.p-calendar-clearable .p-calendar-w-btn {
    .p-calendar-clear-icon {
        color: cfg.$inputIconColor;
        right: cfg.$buttonIconOnlyWidth + nth(cfg.$inputPadding, 2);
    }
}

@media screen and (max-width: cfg.$calendarBreakpoint) {
    .p-datepicker {
        table {
            th, td {
                padding: cfg.$calendarCellDatePaddingSM;
            }
        }
    }
}
