@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-editor-container {
    .p-editor-toolbar {
        background: cfg.$editorToolbarBg;
        border-top-right-radius: cfg.$borderRadius;
        border-top-left-radius: cfg.$borderRadius;

        &.ql-snow {
            border: cfg.$editorToolbarBorder;

            .ql-stroke {
                stroke: cfg.$editorToolbarIconColor;
            }
    
            .ql-fill {
                fill: cfg.$editorToolbarIconColor;
            }
    
            .ql-picker {
                .ql-picker-label {
                    border: 0 none;
                    color: cfg.$editorToolbarIconColor;

                    &:hover {
                        color: cfg.$editorToolbarIconHoverColor;

                        .ql-stroke {
                            stroke: cfg.$editorToolbarIconHoverColor;
                        }
                
                        .ql-fill {
                            fill: cfg.$editorToolbarIconHoverColor;
                        }
                    }
                }

                &.ql-expanded {
                    .ql-picker-label {
                        color: cfg.$editorToolbarIconHoverColor;

                        .ql-stroke {
                            stroke: cfg.$editorToolbarIconHoverColor;
                        }
                
                        .ql-fill {
                            fill: cfg.$editorToolbarIconHoverColor;
                        }
                    }

                    .ql-picker-options {
                        background: cfg.$inputOverlayBg;
                        border:cfg.$inputOverlayBorder;
                        box-shadow:cfg.$inputOverlayShadow;
                        border-radius: cfg.$borderRadius;
                        padding: cfg.$inputListPadding;

                        .ql-picker-item {
                            color: cfg.$inputListItemTextColor;
                            
                            &:hover {
                                color: cfg.$inputListItemTextHoverColor;
                                background: cfg.$inputListItemHoverBg;
                            }
                        }
                    }

                    &:not(.ql-icon-picker) {
                        .ql-picker-item {
                            padding: cfg.$inputListItemPadding;
                        }
                    }
                }
            }
        }
    }

    .p-editor-content {
        border-bottom-right-radius: cfg.$borderRadius;
        border-bottom-left-radius: cfg.$borderRadius;

        &.ql-snow {
            border: cfg.$editorContentBorder;
        }

        .ql-editor {
            background: cfg.$inputBg;
            color: cfg.$inputTextColor;
            border-bottom-right-radius: cfg.$borderRadius;
            border-bottom-left-radius: cfg.$borderRadius;
        }
    }

    .ql-snow.ql-toolbar button:hover,
    .ql-snow.ql-toolbar button:focus {
        color: cfg.$editorToolbarIconHoverColor;

        .ql-stroke {
            stroke: cfg.$editorToolbarIconHoverColor;
        }

        .ql-fill {
            fill: cfg.$editorToolbarIconHoverColor;
        }
    }

    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
        color: cfg.$editorIconActiveColor;

        .ql-stroke {
            stroke: cfg.$editorIconActiveColor;
        }

        .ql-fill {
            fill: cfg.$editorIconActiveColor;
        }

        .ql-picker-label {
            color: cfg.$editorIconActiveColor;
        }
    }
}
