@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-radiobutton {
    width: cfg.$radiobuttonWidth;
    height: cfg.$radiobuttonHeight;

    .p-radiobutton-box {
        border: cfg.$radiobuttonBorder;
        background: cfg.$inputBg;
        width: cfg.$radiobuttonWidth;
        height: cfg.$radiobuttonHeight;
        color: cfg.$textColor;
        border-radius: 50%;
        transition: cfg.$formElementTransition;
        outline-color: transparent;

        &:not(.p-disabled):not(.p-highlight):hover {
            border-color: cfg.$inputHoverBorderColor;
        }

        &:not(.p-disabled).p-focus {
            @include util.focused-input();
        }

        .p-radiobutton-icon {
            width: cfg.$radiobuttonIconSize;
            height: cfg.$radiobuttonIconSize;
            transition-duration: cfg.$transitionDuration;
            background-color: cfg.$radiobuttonIconActiveColor;
        }

        &.p-highlight {
            border-color: cfg.$radiobuttonActiveBorderColor;
            background: cfg.$radiobuttonActiveBg;

            &:not(.p-disabled):hover {
                border-color: cfg.$radiobuttonActiveHoverBorderColor;
                background: cfg.$radiobuttonActiveHoverBg;
                color: cfg.$radiobuttonIconActiveHoverColor;
            }
        }
    }

    &.p-variant-filled {
        .p-radiobutton-box {
            background-color: cfg.$inputFilledBg;

            &:not(.p-disabled):hover {
                background-color: cfg.$inputFilledHoverBg;
            }

            &.p-highlight {
                background: cfg.$radiobuttonActiveBg;

                &:not(.p-disabled):hover {
                    background: cfg.$radiobuttonActiveHoverBg;
                }
            }
        }
    }
}

p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton > .p-radiobutton-box {
    @include util.invalid-input();
}

.p-input-filled {
    .p-radiobutton {
        .p-radiobutton-box {
            background-color: cfg.$inputFilledBg;

            &:not(.p-disabled):hover {
                background-color: cfg.$inputFilledHoverBg;
            }

            &.p-highlight {
                background: cfg.$radiobuttonActiveBg;

                &:not(.p-disabled):hover {
                    background: cfg.$radiobuttonActiveHoverBg;
                }
            }
        }
    }
}

.p-radiobutton-label {
    margin-left: cfg.$inlineSpacing;
}

@if (cfg.$highlightBg == cfg.$radiobuttonActiveBg) {
    .p-highlight {
        .p-radiobutton {
            .p-radiobutton-box {
                border-color: cfg.$radiobuttonIconActiveColor;
            }
        }
    }
}
