@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-fileupload {
    .p-fileupload-buttonbar {
        background: cfg.$panelHeaderBg;
        padding: cfg.$panelHeaderPadding;
        border: cfg.$panelHeaderBorder;
        color: cfg.$panelHeaderTextColor;
        //border-bottom: 0 none;
        border-top-right-radius: cfg.$borderRadius;
        border-top-left-radius: cfg.$borderRadius;

        .p-button {
            margin-right: cfg.$inlineSpacing;

            &.p-fileupload-choose.p-focus {
                @include util.focused();
            }
        }
    }

    .p-fileupload-content {
        background: cfg.$panelContentBg;
        padding: cfg.$fileUploadContentPadding;
        border: cfg.$panelContentBorder;
        color: cfg.$panelContentTextColor;
        border-bottom-right-radius: cfg.$borderRadius;
        border-bottom-left-radius: cfg.$borderRadius;

        &.p-fileupload-highlight {
            border-color: cfg.$fileUploadContentHoverBorder;
            border-style: dashed;
            background-color: cfg.$highlightBg;
        }
    }

    .p-progressbar {
        height: cfg.$fileUploadProgressBarHeight;
    }

    .p-fileupload-row {
        > div {
            padding: cfg.$tableBodyCellPadding;
        }
    }

    &.p-fileupload-advanced {
        .p-message {
            margin-top: 0;
        }
    }
}

.p-fileupload-choose {
    &:not(.p-disabled):hover {
        background: cfg.$buttonHoverBg;
        color: cfg.$buttonTextHoverColor;
        border-color: cfg.$buttonHoverBorderColor;
    }

    &:not(.p-disabled):active {
        background: cfg.$buttonActiveBg;
        color: cfg.$buttonTextActiveColor;
        border-color: cfg.$buttonActiveBorderColor;
    }
}
