<div class="login-form flex justify-content-center" *ngIf="asyncView">
  <form [formGroup]="signinForm">
    <p-card>
      <div class="flex">
        <div class="p-fluid col-12">
          <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
            <p-autoComplete [suggestions]="searchUser" (completeMethod)="onSearchUser($event)"
                            (onSelect)="selectUser($event.value)" [dropdownIcon]="'pi pi-user'"
                            formControlName="username" placeholder="Tên đăng nhập"></p-autoComplete>
          </p-inputGroup>
        </div>
      </div>
      <div class="flex">
        <div class="p-fluid col-12 ">
          <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-lock"></i></p-inputGroupAddon>
            <input type="password" pInputText placeholder="Mật khẩu" formControlName="password"/>
          </p-inputGroup>
        </div>
      </div>
      @if (isDev) {
        <div class="flex">
          <div class="col-12 ">
            <p-inputGroup>
              <p-inputGroupAddon><i class="pi pi-code"></i></p-inputGroupAddon>
              <input pInputText placeholder="URL Dev" formControlName="url_dev"/>
            </p-inputGroup>
          </div>
        </div>
      }

      <div class="flex">
        <div class="col-12 d-flex align-items-center ">
          <p-checkbox id="chk_remember" formControlName="remember" [binary]="true"></p-checkbox>
          <label for="chk_remember" class="ml-2">Ghi nhớ tài khoản</label>
        </div>
      </div>
      <div class="flex ml-2">
        <p-button label="Đăng nhập" icon="pi pi-sign-in" size="small" [loading]="asyncLogin" class="mr-1"
                  (click)="onSignIn()" [disabled]="signinForm.invalid">

        </p-button>
        <p-button label="Đăng ký" icon="pi pi-user-plus" size="small"
                  severity="warning" routerLink="/auth/signup"></p-button>
      </div>


    </p-card>
  </form>
</div>
