@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-panel {
    .p-panel-header {
        border: cfg.$panelHeaderBorder;
        padding: cfg.$panelHeaderPadding;
        background: cfg.$panelHeaderBg;
        color: cfg.$panelHeaderTextColor;
        border-top-right-radius: cfg.$borderRadius;
        border-top-left-radius: cfg.$borderRadius;

        .p-panel-title {
            font-weight: cfg.$panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            @include util.action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: cfg.$panelToggleableHeaderPadding;
        }
    }

    .p-panel-content {
        padding: cfg.$panelContentPadding;
        border: cfg.$panelContentBorder;
        background: cfg.$panelContentBg;
        color: cfg.$panelContentTextColor;
        //border-top: 0 none;

        &:last-child {
            border-bottom-right-radius: cfg.$borderRadius;
            border-bottom-left-radius: cfg.$borderRadius;
        }
    }

    .p-panel-footer {
        padding: cfg.$panelFooterPadding;
        border: cfg.$panelFooterBorder;
        background: cfg.$panelFooterBg;
        color: cfg.$panelFooterTextColor;
        border-bottom-right-radius: cfg.$borderRadius;
        border-bottom-left-radius: cfg.$borderRadius;
        //border-top: 0 none;
    }

    .p-panel-icons-end {
        order: 2;
        margin-left: auto;
    }    

    .p-panel-icons-start {
        order: 0;
        margin-right: cfg.$inlineSpacing;
    }

    .p-panel-icons-center {
        order: 2;
        width:100%;
        text-align:center;
    }
}
