@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-toolbar {
    background: cfg.$panelHeaderBg;
    border: cfg.$panelHeaderBorder;
    padding: cfg.$panelHeaderPadding;
    border-radius: cfg.$borderRadius;
    gap: cfg.$inlineSpacing;

    .p-toolbar-separator {
        margin: 0 cfg.$inlineSpacing;
    }
}

.ts-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-group-left,
    &-group-right,
    &-group-center {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}