<div class="app-header" #headerRef>
    <div class="app-header-logo" *ngIf="visibleLogo">
        <p-image pImage [options]="{src: logo}" styleClass="logo" />
        <h5 class="name">{{logoName}}</h5>
    </div>
    <div class="app-header-toggle">
        <span [ngClass]="toggleIcon" class="toggle-icon" (click)="toggleClick($event)"></span>
    </div>
    <div class="app-header-left-pane">
        <ng-container *ngTemplateOutlet="leftPane"></ng-container>
    </div>
    <div class="app-header-right-pane">
        <ng-container *ngTemplateOutlet="rightPane"></ng-container>
        <ts-app-profile></ts-app-profile>
    </div>

</div>