<div class="ts-sidepanel" [ngClass]="styleClass" [ngStyle]="style">
    <div class="ts-sidepanel-header">
        <ng-container *ngTemplateOutlet="headerTemplate2"></ng-container>
    </div>

    <div class="ts-sidepanel-content">
        body
    </div>

    <div class="ts-sidepanel-footer">
        <ng-container *ngTemplateOutlet="footerTemplate2"></ng-container>
    </div>

</div>

<ng-template #headerTemplate2>
    header
</ng-template>

<ng-template #footerTemplate2>
    footer
</ng-template>