$prefix: '' !default;
$separator: '\\:' !default;

$sm: 576px !default; 
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xxl: 1400px !default;
$gutter: .5rem !default;
$col_gutter:  .25rem $gutter!default;
$media_gutter: .25rem $gutter!default;

$fieldMargin: .5srem !default;
$fieldLabelMargin: .25rem !default;
$helperTextMargin: .25rem !default;

$spacer: 1rem !default;

$breakpoints: (
    'sm': $sm,
    'md': $md,
    'lg': $lg,
    'xl': $xl,
    'xxl': $xxl
) !default;