$scale: 14px !default;
$breakpoint:992px !default;
$sidebarWidth: 18rem;
$topbarHeight: 4rem;

// @import 'fonts';
// @import 'utils';
// @import 'animation';
// @import 'topbar/topbar';
// @import 'sidebar/sidebar';
// @import 'menuprofile';
// @import 'megamenu';
// @import 'landing';
@import 'main';
// @import 'content';
// @import 'footer';
// @import 'config';
// @import 'breadcrumb';
// @import 'responsive';
// @import 'preloading';