$prefixCls: 'ts-drawer';

.#{$prefixCls} {
    display       : flex;
    flex-direction: column;
    pointer-events: auto;
    transform     : translate3d(0px, 0px, 0px);
    position      : fixed;
    transition    : transform 0.3s;
    background    : #fff;
    color         : #334155;
    border        : 1px solid #e2e8f0;
    box-shadow    : 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);

    &-content {
        overflow-y: auto;
        flex-grow : 1;
        padding   : 0 1.25rem 1.25rem 1.25rem;
        width     : 100%;
        height    : 100%;
    }

    &-full {
        transition  : none;
        transform   : none;
        width       : 100vw !important;
        height      : 100vh !important;
        max-height  : 100%;
        top         : 0px !important;
        left        : 0px !important;
        border-width: 1px;
    }

    &-left {
        align-self        : start;
        width             : 30rem;
        height            : 100%;
        border-right-width: 1px;
        top               : 0;
        left              : 0;
    }

    &-right {
        align-self       : end;
        width            : 20rem;
        height           : 100%;
        border-left-width: 1px;
        top              : 0;
        right            : 0;
    }

    &-top {
        height             : 10rem;
        width              : 100%;
        border-bottom-width: 1px;
        top                : 0;
        left               : 0;
    }

    &-bottom {
        height          : 10rem;
        width           : 100%;
        border-top-width: 1px;
        bottom          : 0;
        left            : 0;
    }

    &-mask {
        background-color   : rgba(0, 0, 0, 0.4);
        transition-duration: 0.2s;
    }

}


.p-drawer-full {
    width             : 100%;
    height            : 100%;
    top               : 0;
    left              : 0;
    -webkit-transition: none;
    transition        : none;
}

.p-drawer-mask {
    background-color   : rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

.p-overlay-mask {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;

    &:dir(rtl) {
        flex-direction: row-reverse;
    }

    &-enter {
        animation: p-overlay-mask-enter-animation 150ms forwards;
    }

    &-leave {
        animation: p-overlay-mask-leave-animation 150ms forwards;
    }
}


@keyframes p-overlay-mask-enter-animation {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes p-overlay-mask-leave-animation {
    from {
        background-color: rgba(0, 0, 0, 0.4);
    }

    to {
        background-color: transparent;
    }
}