$prefix: ".p-alert";


.p-dialog-top #{$prefix} {
  margin-top: 3rem!important;
}


#{$prefix} {
  flex: 0 auto !important;


  .p-dialog-content {
    padding: 0.7rem 1rem;
    background: transparent;

    > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-direction: row;

      #{$prefix}-content-body-icon span {
        font-size: 2rem;
      }

      #{$prefix}-content-body-summary {
        margin-left: 1rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  .p-dialog-header {
    padding: unset;
    padding: 0.7rem 1rem;
    background: transparent;
  }

  .p-dialog-footer {
    padding: 0 1rem 1rem;
    background: transparent;
  }

  &-warning {
    background: $warningMessageBg !important;
    border: $warningMessageBorder !important;
    border-width: $messageBorderWidth !important;
    color: $warningMessageTextColor !important;

    .p-icon {
      color: $warningMessageIconColor;
    }

    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }

  &-info {
    background: $infoMessageBg !important;
    border: $infoMessageBorder;
    border-width: $messageBorderWidth;
    color: $infoMessageTextColor;

    .p-icon {
      color: $infoMessageIconColor;
    }

    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }

  &-success {
    background: $successMessageBg !important;
    border: $successMessageBorder;
    border-width: $messageBorderWidth;
    color: $successMessageTextColor;

    .p-icon {
      color: $successMessageIconColor;
    }
    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }

  &-danger {
    background: $errorMessageBg !important;
    border: $errorMessageBorder;
    border-width: $messageBorderWidth;
    color: $errorMessageTextColor;

    .p-icon {
      color: $errorMessageIconColor;
    }
    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }

  &-secondary {
    background: $secondaryMessageBg !important;
    border: $secondaryMessageBorder;
    border-width: $messageBorderWidth;
    color: $secondaryMessageTextColor;

    .p-icon {
      color: $secondaryMessageIconColor;
    }
    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }

  &-contrast {
    background: $contrastMessageBg !important;
    border: $contrastMessageBorder;
    border-width: $messageBorderWidth;
    color: $contrastMessageTextColor;

    .p-icon {
      color: $contrastMessageIconColor;
    }
    .p-dialog-header,
    .p-dialog-content {
      color: inherit;
    }
  }
}
