.layout-content-wrapper {
    padding-top: 4rem;
    margin-left: calc($sidebarWidth + 1px);
    
    
    .layout-content {
        min-height: calc(100vh - 13.5rem);
        padding: 0 2rem;
    }
}
