@use "config" as util;

%flexRow {
    @include util.flexRow();
}

.app-header {
    --app-header-height    : 60px;
    --app-header-bg        : #fff;
    --app-header-padding   : 0 3.5rem;
    --app-header-shadow    : 0 4px 40px #2720781a;
    --app-header-logo-width: 200px;


    @extend %flexRow;
    height       : 100%;

    &-logo {
        @extend %flexRow;
        width: var(--app-header-logo-width);
    }

    &-toggle .toggle-icon {
        font-size: 2rem;
        color    : var(--info-color);
        cursor   : pointer;
    }

    &-left-pane {
        @extend %flexRow;
        flex: 1 1 auto;
    }

    &-right-pane {
        @extend %flexRow;
    }
}
