@use "config"as cfg;

$border-width : var(--border-width, 1px);
$topbar-height: cfg.$topbar-height;

$sidebar-width : cfg.$sidebar-width;
$sidebar-bg    : var(--sidebar-bg, cfg.$sidebar-bg);
$sidebar-shadow: var(--sidebar-shadow, cfg.$sidebar-shadow);

//--
$topbar-bg: var(--topbar-bg, cfg.$topbar-bg);
$topbar-shadow: var(--topbar-shadow, cfg.$topbar-shadow);
$topbar-padding: var(--topbar-padding, cfg.$topbar-padding);

//--
$content-vertical-rowgap: var(--content-vertical-rowgap, cfg.$content-vertical-rowgap);
$content-padding: var(--content-padding, cfg.$content-padding);

//--
$breadcrumb-bg: var(--breadcrumb-bg, cfg.$breadcrumb-bg);
$breadcrumb-padding: var(--breadcrumb-padding, cfg.$breadcrumb-padding);
$breadcrumb-fontsize: var(--breadcrumb-fontsize, cfg.$breadcrumb-fontsize);
$breadcrumb-fontweight: var(--breadcrumb-fontweight, cfg.$breadcrumb-fontweight);
$breadcrumb-color: var(--breadcrumb-color, cfg.$breadcrumb-color);

.layout-container-vertical {
    display   : flex;
    flex-flow : row nowrap;
    height    : 100svh;

    .layout-content-wrapper {
        display  : flex;
        flex     : auto;
        flex-flow: column nowrap; 
        row-gap: $content-vertical-rowgap;
        padding: $content-padding;
    }

    .layout-sidebar {
        min-width : $sidebar-width;
        background: $sidebar-bg;
        box-shadow: $sidebar-shadow;
        border    : none;
    }

    .layout-topbar {
        min-height: $topbar-height;
        max-height: $topbar-height;

        background: $topbar-bg;
        box-shadow: $topbar-shadow;
        padding: $topbar-padding;
        border    : none;

        > :first-child {
            height: 100%;
        }
    }

    .layout-content {
        flex   : 1 1 auto;
      

    }

    .p-breadcrumb {
        background: $breadcrumb-bg;
        padding: $breadcrumb-padding;
        font-size: $breadcrumb-fontsize;

        .p-menuitem-icon {
            font-size: $breadcrumb-fontsize;
        }

        .p-menuitem-link {
            font-weight: $breadcrumb-fontweight;
            color: $breadcrumb-color;
        }

        .p-menuitem-separator {
            font-weight: $breadcrumb-fontweight;
        }
    }

}