@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-image-mask {
    --maskbg: #{cfg.$imageMaskBg};
}

.p-image-preview-indicator {
    background-color: transparent;
    color: cfg.$imagePreviewIndicatorColor;
    transition: cfg.$actionIconTransition;
}

.p-image-preview-container {
    &:hover {
        > .p-image-preview-indicator {
            background-color: cfg.$imagePreviewIndicatorBg;
        }
    }
}

.p-image-toolbar {
    padding: cfg.$imagePreviewToolbarPadding;
}

.p-image-action.p-link {
    color: cfg.$imagePreviewActionIconColor;
    background-color: cfg.$imagePreviewActionIconBg;
    width: cfg.$imagePreviewActionIconWidth;
    height: cfg.$imagePreviewActionIconHeight;
    border-radius: cfg.$imagePreviewActionIconBorderRadius;
    transition: cfg.$actionIconTransition;
    margin-right: cfg.$inlineSpacing;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: cfg.$imagePreviewActionIconHoverColor;
        background-color: cfg.$imagePreviewActionIconHoverBg;
    }

    i {
        font-size: cfg.$imagePreviewActionIconFontSize;
    }

    .p-icon {
        width: cfg.$imagePreviewActionIconFontSize;
        height: cfg.$imagePreviewActionIconFontSize;
    }
}
