.layout-topbar-inactive .layout-sidebar {
    top: 0!important;
}

.layout-sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    top: $topbarHeight;
    width: $sidebarWidth;
    background: var(--menu-bg);
    display: flex;
    flex-direction: column;
    box-shadow: var(--sidebar-shadow);
    border: var( --sidebar-border);

    .layout-topbar-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .layout-topbar-logo-slim {
            display: none;
        }

        img {
            height: 2.5rem;
            margin-right: .5rem;
        }

        span {
            color: var(--surface-900);
            font-size: 1.5rem;
            font-weight: 500;
        }
    }


    .layout-sidebar-top {
        display: none;
    }

    .layout-menu-container {
        flex: 1;
        padding-bottom: 4rem;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--menu-scroll-thumb) var(--menu-bg);

    }

    .layout-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .layout-root-menuitem {

            > .layout-menuitem-root-text {
                display: flex;
                align-items: center;
                font-size: .857rem;
                text-transform: uppercase;
                font-weight: 700;
                color: var(--root-menuitem-text-color);
                padding: 1rem 1.5rem 1rem 1rem;

                > .layout-menuitem-root-icon {
                    display: none;
                }
            }
    
            > a {
                display: none;
            }
        }

        a {
            user-select: none;
        }

        li.active-menuitem {
            > a {
                color: var(--active-menuitem-text-color);
                background-color: var(--active-menuitem-bg);

                .layout-menuitem-icon {
                    margin-right: .5rem;
                    color: var(--active-menuitem-text-color);
                }
                
                .layout-submenu-toggler {
                    transform: rotate(-180deg);
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
    
            a {
                display: flex;
                align-items: center;
                position: relative;
                outline: 0 none;
                color: var(--menuitem-text-color);
                cursor: pointer;
                padding: .75rem 1.5rem;
                transition: background-color var(--transition-duration), box-shadow var(--transition-duration);

                .layout-menuitem-icon {
                    margin-right: .5rem;
                    color: var(--menuitem-text-color);
                }
    
                .layout-submenu-toggler {
                    //font-size: 75%;
                    margin-left: auto;
                    transition: transform var(--transition-duration);
                }
    
                &.active-route {
                    font-weight: 700;
                }

                &:hover {
                    background-color: var(--menuitem-hover-bg);
                }
            }
    
            ul {
                overflow: hidden;
                border-radius: var(--border-radius);
    
                li {
                    a {
                        padding-left: 2.5rem;
                    }
    
                    li {
                        a {
                            padding-left: 3rem;
                        }
    
                        li {
                            a {
                                padding-left: 3.5rem;
                            }
    
                            li {
                                a {
                                    padding-left: 4rem;
                                }
    
                                li {
                                    a {
                                        padding-left: 5.5rem;
                                    }
    
                                    li {
                                        a {
                                            padding-left: 5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}