<div #container [ngClass]="containerClass" [ngStyle]="style">
    <p-button styleClass="p-splitbutton-defaultbutton" pAutoFocus
            [severity]="severity"  [text]="text"
            [outlined]="outlined" [size]="size"
            [icon]="icon"  [iconPos]="iconPos"  
            [label]="buttonLabel" [disabled]="disabled"
            [loading]="loading" [loadingIcon]="loadingIcon"
            [attr.tabindex]="tabindex"
            [ariaLabel]="buttonProps?.['ariaLabel'] || label"
            [autofocus]="autofocus" [pTooltip]="tooltip"
            [tooltipOptions]="tooltipOptions"
            (onClick)="onDefaultButtonClick($event)">
        @if(contentTemplate){
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        }
    </p-button>

        <p-button *ngIf="visibleMenuButton"
            styleClass="p-splitbutton-menubutton p-button-icon-only"
            [size]="size" [severity]="severity" [text]="text"
            [outlined]="outlined" [disabled]="menuButtonDisabled"
            [ariaLabel]="menuButtonProps?.['ariaLabel'] || expandAriaLabel"
            [attr.aria-haspopup]="menuButtonProps?.['ariaHasPopup'] || true"
            [attr.aria-expanded]="menuButtonProps?.['ariaExpanded'] || isExpanded()"
            [attr.aria-controls]="menuButtonProps?.['ariaControls'] || ariaId"
            (click)="onDropdownButtonClick($event)"
            (keydown)="onDropdownButtonKeydown($event)" >
            <ChevronDownIcon *ngIf="!dropdownIconTemplate" />
            <ng-template *ngTemplateOutlet="dropdownIconTemplate"></ng-template>
        </p-button>


    <!-- <ng-container *ngIf="contentTemplate; else defaultButton">
        <button pButton pAutoFocus
            class="p-splitbutton-defaultbutton" type="button"
            [severity]="severity"
            [text]="text"
            [outlined]="outlined"
            [size]="size"
            [icon]="icon"
            [iconPos]="iconPos"
            (click)="onDefaultButtonClick($event)"
            [disabled]="disabled"
            [attr.tabindex]="tabindex"
            [ariaLabel]="buttonProps?.['ariaLabel'] || label"
            [autofocus]="autofocus"
            [pTooltip]="tooltip"
            [tooltipOptions]="tooltipOptions">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </button>
    </ng-container> -->

    <!-- <ng-template #defaultButton>
        <button
            #defaultbtn
            class="p-splitbutton-defaultbutton"
            type="button"
            pButton
            [severity]="severity"
            [text]="text"
            [outlined]="outlined"
            [size]="size"
            [icon]="icon"
            [iconPos]="iconPos" 
            [label]="label" 
            (click)="onDefaultButtonClick($event)"
            [disabled]="buttonDisabled"
            [attr.tabindex]="tabindex"
            [ariaLabel]="buttonProps?.['ariaLabel']"
            pAutoFocus
            [autofocus]="autofocus"
            [pTooltip]="tooltip"
            [tooltipOptions]="tooltipOptions"></button>
    </ng-template> -->

    <!-- <button *ngIf="visibleMenuButton"
        type="button"
        pButton pRipple
        [size]="size"
        [severity]="severity"
        [text]="text"
        [outlined]="outlined"
        class="p-splitbutton-menubutton p-button-icon-only"
        (click)="onDropdownButtonClick($event)"
        (keydown)="onDropdownButtonKeydown($event)"
        [disabled]="menuButtonDisabled"
        [ariaLabel]="menuButtonProps?.['ariaLabel'] || expandAriaLabel"
        [attr.aria-haspopup]="menuButtonProps?.['ariaHasPopup'] || true"
        [attr.aria-expanded]="menuButtonProps?.['ariaExpanded'] || isExpanded()"
        [attr.aria-controls]="menuButtonProps?.['ariaControls'] || ariaId"
    >
        <ChevronDownIcon *ngIf="!dropdownIconTemplate" />
        <ng-template *ngTemplateOutlet="dropdownIconTemplate"></ng-template>
    </button> -->

    <p-tieredMenu [id]="ariaId" #menu
        [popup]="true" [model]="model" [appendTo]="appendTo"
        [style]="menuStyle" [styleClass]="menuStyleClass"
        [showTransitionOptions]="showTransitionOptions"
        [hideTransitionOptions]="hideTransitionOptions"
        (onHide)="onHide()" (onShow)="onShow()"></p-tieredMenu>

</div>