<p-card class="grid template-form">
  <div class="col-12">
    <form [formGroup]="formGroup" (ngSubmit)="saveTemplate()">
      <div class="grid">
        <div class=" p-fluid col-12 xxl:col-12">
          <h3>Tạo mẫu <span *ngIf="template.thread" class="text-danger">[{{template.thread}}]</span></h3>
        </div>
        <div class=" p-fluid col-6 xxl:col-6">
          <label for="title">{{'title' | translate}}</label>
          <input id="title" placeholder="{{'title.holder' | translate}}" pInputText formControlName="title" />
        </div>
        <div class=" p-fluid col-6 xxl:col-3">
          <label for="icon">{{'template.icon' | translate}}</label>
          <input pInputText  formControlName="icon" placeholder="pi pi-user" />
        </div>
        <div class=" p-fluid col-6 xxl:col-3">
          <label for="entity_code">{{'template.thread' | translate}}</label>
          <p-dropdown [options]="lsEntity" formControlName="thread" [showClear]="true" #entity></p-dropdown>
        </div>
        <div class="col-4 p-fluid xxl:col-3">
          <label for="bgColor">{{ 'style.bg_color' | translate }}</label>
          <div class="group flex flex-row gap-1 align-items-center" id="bgColor">
            <p-inputGroup>
              <input [value]="'#'+bgColor.HSBtoHEX(bgColor.value)" pInputText readonly />
              <p-inputGroupAddon> <p-colorPicker format="hex" #bgColor
                  formControlName="bg_color"></p-colorPicker></p-inputGroupAddon>
            </p-inputGroup>
          </div>
        </div>
        <div class="col-4 p-fluid xxl:col-3">
          <label for="textColor">{{ 'style.text_color' | translate }}</label>
          <div class="group flex flex-row gap-1 align-items-center" id="textColor">
            <p-inputGroup>
              <input [value]="'#'+textColor.HSBtoHEX(textColor.value)" pInputText readonly />
              <p-inputGroupAddon> 
                <p-colorPicker format="hex" #textColor formControlName="text_color"></p-colorPicker>
              </p-inputGroupAddon>
            </p-inputGroup>
          </div>
        </div>
        <div class=" p-fluid col-6 xxl:col-3">
          <label for="severity">{{'template.severity' | translate}}</label>
          <p-dropdown [options]="lsSeverity" formControlName="severity" [showClear]="true"           ></p-dropdown>
        </div>
        <!-- <div class=" p-fluid col-6 xxl:col-3">
          <label for="color">{{'template.color' | translate}}</label>
          <p-dropdown [options]="lsColor" formControlName="color" [showClear]="true" (onChange)="selectColor($event.value)"></p-dropdown>
        </div>        -->
        <div class="col-12 p-fluid">
          <label for="summary">{{'summary' | translate}}</label>
          <input id="summary" placeholder="{{'summary.holder' | translate}}" pInputText formControlName="summary" />
        </div>
        <div class="col-12 p-fluid">
          <label for="data">{{'template.data' | translate}}</label>
          <textarea id="data" placeholder="{{'template.data.holder' | translate}}" pInputTextarea formControlName="data"
            rows="2" [autoResize]="true" readonly [style]="{'max-height': '60px', 'min-height': '60px'}"></textarea>
        </div>
        <div class="p-fluid col-12 flex flex-inline gap-2 align-items-center">
          <p-checkbox label="Đặt mặc định" [binary]="true" formControlName="is_default"></p-checkbox>
          <p-divider [layout]="'horizontal'"></p-divider>
          <div class="flex flex-inline gap-2 align-items-center">
            <label>STT</label>
            <input formControlName="position" pInputText placeholder="STT" [style]="{'max-width': '50px'}"/>
          </div>
          <div class="p-fluid flex align-items-end gap-2" *ngIf="template.title">
            <p-divider [layout]="'horizontal'"></p-divider>
            <button pRipple class="align-self-end flex-1 p-element p-button p-component p-button-rounded p-preview"
              [ngStyle]="btnPreviewStyle" [ngClass]="btnPreviewClass">
              <span class="p-button-label">{{template.title}}</span>
              <span class="p-ink" aria-hidden="true" role="presentation"></span>
            </button>
          </div>
          
        </div> 
        <div class="col-12 flex gap-2 mt-3">
          <p-button type="submit" severity="help" label="{{'actions.'+labelSave | translate}}" [loading]="state.asyncSave"[disabled]="formGroup.invalid"></p-button>
          <p-button label="{{'actions.create' | translate}}" (onClick)="createTemplate()" severity="primary" ></p-button>
          <p-button label="{{'template.setting' | translate}}" (onClick)="settingData()"  [disabled]="!entity.value"></p-button>          
          <p-divider layout="vertical"></p-divider>
          <p-button label="{{'actions.copy' | translate}}" (onClick)="copyTemplate()" *ngIf="state.visibleCopy"></p-button>          
          <p-button label="Tải danh sách" (onClick)="loadTemplate()" [loading]="state.asyncTemplate"></p-button>
          <p-button label="Quay Lại" (onClick)="previousPage()" *ngIf="lastUrl"></p-button>
          <p-divider layout="vertical"></p-divider>
          <p-button label="{{'actions.delete' | translate}}" (onClick)="deleteTemplate()" severity="danger" *ngIf="state.visibleDelete" ></p-button>   

        </div>
      </div>
    </form>
  </div>
  <div class="col-12"  [style]="{'border-top': '2px solid red'}">
    <ts-ag-table [columns]="columns"  [rows]="[]" [option]="agOption"  (rowClicked)="selectTemplate($event.data)"></ts-ag-table>
  </div>
</p-card>