.login-form {
  max-width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .logo {
    display:flex;
    justify-content: center;

  }
  form.grid {
      --gutter-gry: .5rem;

    .remember {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      row-gap: .25rem;

      .p-button-link {
        padding: 0;
      }
    }

    .socials {
       // display: flex;
       // flex-flow: row wrap;
    }
  }
}
