<div class="login-form" *ngIf="asyncView">
    <div class="logo">
        <p-image [src]="'./assets/images/logo.png'"></p-image>
    </div>
    <ts-card [title]="'Signin to account'"
             [subtitle]="'Enter your email & password to login'"
             [contentClass]="'mt-4'">
        <form [formGroup]="signinForm" (ngSubmit)="onSignIn()" class="grid">

            <ts-form-field [label]="'Tên đăng nhập'" class="p-fluid col-12">
                <ts-inputgroup [prefix]="['pi pi-user']">
                    <p-autoComplete [suggestions]="searchUser"
                                    (completeMethod)="onSearchUser($event)"
                                    (onSelect)="selectUser($event.value)"
                                    [dropdownIcon]="'pi pi-user'"
                                    [showEmptyMessage]="false"
                                    formControlName="username"
                                    placeholder="administrator@gmail.com"></p-autoComplete>
                </ts-inputgroup>
            </ts-form-field>
            <ts-form-field [label]="'Mật khẩu'" class="p-fluid col-12 mt-2">
                <ts-inputgroup [prefix]="['pi pi-lock']">
                    <p-password placeholder="********" formControlName="password" [toggleMask]="true"></p-password>
                </ts-inputgroup>
            </ts-form-field>

            @if (isDev) {
                <ts-form-field [label]="'URL Dev'" class="p-fluid col-12 mt-2">
                    <ts-inputgroup [prefix]="['pi pi-code']">
                        <input pInputText placeholder="https://api.app-web.vn" formControlName="url_dev"/>
                    </ts-inputgroup>
                </ts-form-field>
            }

            <div class="p-fluid col-12 remember mt-2">
                <p-checkbox id="chk_remember" formControlName="remember" [binary]="true"
                            label="Ghi nhớ tài khoản"></p-checkbox>
                <p-button [link]="true" label="Quên mật khẩu ?"></p-button>
            </div>
            <div class="col-12 flex gap-2 mt-2">
                <button pButton type="submit" label="Đăng nhập" icon="pi pi-sign-in" size="small" [loading]="asyncLogin"
                          [disabled]="signinForm.invalid" class="w-full">
                </button>
<!--                <p-button label="Đăng ký" icon="pi pi-user-plus" size="small" severity="warning"-->
<!--                          [routerLink]="signupUrl"></p-button>-->
            </div>

            @if(socialLinks?.length) {
                <ts-divider [text]="'Hoặc'" align="left" class="col-12"></ts-divider>
                <div class="col-12 grid socials">
                    @for (item of socialLinks; track item) {
                        <div class="col-6">
                            <button pButton [label]="item.label" [icon]="item.icon"
                                    [routerLink]="item.link" class="w-full"></button>
                        </div>
                    }
                </div>
            }

            <div class="col-12">
                    <p-button [link]="true" label="Chưa có tài khoản ?"></p-button>
                    <p-button [link]="true" label="Nhấn tạo"></p-button>
            </div>


        </form>

    </ts-card>
</div>