.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100svh - 1rem);

  background: url(/assets/images/login_bg.jpg);

  .form-wrapper {
    max-width      : 384px;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: center;

    .logo {
      display        : flex;
      justify-content: center;
      margin-bottom: .75rem;

    }

    .or-divider {
      margin: .75rem 0;
      padding: 0 .75rem;
    }

    form.grid {
      --gutter-gry: .5rem;

      .remember {
        display        : flex;
        flex-flow      : row wrap;
        justify-content: space-between;
        align-items    : center;
        row-gap        : .25rem;

        .p-button-link {
          padding: 0;
        }
      }

      .socials {
        // display: flex;
        // flex-flow: row wrap;

        .social-icon {
          font-size: 1.5rem;
        }
      }

      .p-new-acc {
        text-decoration: underline;

      }

    }
  }
}