.p-calendar,
.p-iconfield{
  display: flex;
}

.p-icon-field {
  display: flex;
}

.p-inputgroup {

  //input:first-child {
  //  border-top-left-radius: unset;
  //  border-bottom-left-radius: unset;
  //}

  .p-inputwrapper {
    width: 100%;
  }

  .p-colorpicker {
    margin-left: 0.5rem !important;

    &-preview {
      padding: unset;
      border-top-right-radius: 6px!important;
      border-bottom-right-radius: 6px!important;
      width: 25px;
    }

  }

  .p-autocomplete-input:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }


}

a {
  text-decoration: none;
}

form {

  .col-divider .p-divider-horizontal {
    margin: .25rem 0;

    &:before {
      border-top-color: var(--blue-600);
    }
  }

  .g-inline-field .p-component {
    width: unset !important;
  }

  .g-field {

    .g-label, > label {
      display: inline-block;
      margin-bottom: 0.25rem;

      > span.star {
        color: var(--red-600);
      }
    }

    .required {
      &.p-inputtext,
      .p-component {
        border-color: var(--red-600);
      }
    }

    .p-component {
      width: 100%;

      &.p-inputtext,
      .p-multiselect-label,
      .p-dropdown-label {
        //padding-top: 0.2rem;
        //padding-bottom: 0.2rem;
      }
    }

  }


}

ts-template-form {
  display: block;
}
