@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-dock {
    .p-dock-list-container {
        background: cfg.$dockBg;
        border: cfg.$dockBorder;
        padding: cfg.$dockPadding;
        border-radius: cfg.$dockBorderRadius;

        .p-dock-list {
            outline: 0 none;
        }
    }
    
    .p-dock-item {
        padding: cfg.$dockItemPadding;
        border-radius: cfg.$dockItemBorderRadius;

        &.p-focus {
            @include util.focused-listitem();
        }
    }

    .p-dock-link {
        width: cfg.$dockActionWidth;
        height: cfg.$dockActionHeight;
    }
    
    &.p-dock-top,
    &.p-dock-bottom {
        .p-dock-item-second-prev,
        .p-dock-item-second-next {
            margin: 0 cfg.$dockSecondItemsMargin;
        }

        .p-dock-item-prev,
        .p-dock-item-next {
            margin: 0 cfg.$dockFirstItemsMargin;
        }

        .p-dock-item-current {
            margin: 0 cfg.$dockCurrentItemMargin;
        }
    }

    &.p-dock-left,
    &.p-dock-right {
        .p-dock-item-second-prev,
        .p-dock-item-second-next {
            margin: cfg.$dockSecondItemsMargin 0;
        }
        
        .p-dock-item-prev,
        .p-dock-item-next {
            margin: cfg.$dockFirstItemsMargin 0;
        }

        .p-dock-item-current {
            margin: cfg.$dockCurrentItemMargin 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .p-dock {
        &.p-dock-top,
        &.p-dock-bottom {
            .p-dock-list-container {
                overflow-x: auto;
                width: 100%;

                .p-dock-list {
                    margin: 0 auto;
                }
            }
        }

        &.p-dock-left,
        &.p-dock-right {
            .p-dock-list-container {
                overflow-y: auto;
                height: 100%;

                .p-dock-list {
                    margin: auto 0;
                }
            }
        }

        .p-dock-list {
            .p-dock-item {
                transform: none;
                margin: 0;
            }
        }
    }
}