@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-menu {
    padding: cfg.$verticalMenuPadding;
    background: cfg.$menuBg;
    color: cfg.$menuTextColor;
    border: cfg.$menuBorder;
    border-radius: cfg.$borderRadius;
    width: cfg.$menuWidth;

    .p-menuitem {
        @include util.menuitem();
    }

    &.p-menu-overlay {
        background: cfg.$overlayMenuBg;
        border: cfg.$overlayMenuBorder;
        box-shadow: cfg.$overlayMenuShadow;
    }

    .p-submenu-header {
        margin: cfg.$submenuHeaderMargin;
        padding: cfg.$submenuHeaderPadding;
        color: cfg.$submenuHeaderTextColor;
        background: cfg.$submenuHeaderBg;
        font-weight: cfg.$submenuHeaderFontWeight;
        border-top-right-radius: cfg.$submenuHeaderBorderRadius; 
        border-top-left-radius: cfg.$submenuHeaderBorderRadius; 
    }

    .p-menuitem-separator {
        border-top: cfg.$divider;
        margin: cfg.$menuSeparatorMargin;
    }

    .p-menuitem-badge {
        @include util.menuitem-badge();
    }
}
