@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-slidemenu {
    padding: cfg.$verticalMenuPadding;
    background: cfg.$menuBg;
    color: cfg.$menuTextColor;
    border: cfg.$menuBorder;
    border-radius: cfg.$borderRadius;
    width: cfg.$menuWidth;
    
    .p-slidemenu-root-list {
        outline: 0 none;
    }

    .p-submenu-list {
        outline: 0 none;
    }

    .p-menuitem {
        @include util.menuitem();
    }

    &.p-slidemenu-overlay {
        background: cfg.$overlayMenuBg;
        border: cfg.$overlayMenuBorder;
        box-shadow: cfg.$overlayMenuShadow;
    }

    .p-slidemenu-list {
        padding: cfg.$verticalMenuPadding;
        background: cfg.$overlayMenuBg;
        border: cfg.$overlayMenuBorder;
        box-shadow: cfg.$overlayMenuShadow;
    }

    .p-menuitem-separator {
        border-top: cfg.$divider;
        margin: cfg.$menuSeparatorMargin;
    }

    .p-slidemenu-icon {
        font-size: cfg.$menuitemSubmenuIconFontSize;
    }

    .p-icon {
        width: cfg.$menuitemSubmenuIconFontSize;
        height: cfg.$menuitemSubmenuIconFontSize;
    }

    .p-slidemenu-backward {
        padding: cfg.$menuitemPadding;
	    color: cfg.$menuitemTextColor;
        &:not(.p-disabled):focus {
            @include util.focused-inset();
        }
    }

    .p-menuitem-badge {
        @include util.menuitem-badge();
    }
}
