@use 'sass:math';
@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-steps {
    .p-steps-item {
        .p-menuitem-link {
            background: transparent;
            transition: cfg.$listItemTransition;
            border-radius: cfg.$borderRadius;
            background: cfg.$stepsItemBg;

            .p-steps-number {
                color: cfg.$stepsItemNumberColor;
                border: cfg.$stepsItemBorder;
                background: cfg.$stepsItemBg;
                min-width: cfg.$stepsItemNumberWidth;
                height: cfg.$stepsItemNumberHeight;
                line-height: cfg.$stepsItemNumberHeight;
                font-size: cfg.$stepsItemNumberFontSize;
                z-index: 1;
                border-radius: cfg.$stepsItemNumberBorderRadius;
            }

            .p-steps-title {
                margin-top: cfg.$inlineSpacing;
                color: cfg.$stepsItemTextColor;
            }

            &:not(.p-disabled):focus-visible {
                @include util.focused();
            }
        }

        &.p-highlight {
            .p-steps-number {
                background: cfg.$highlightBg;
                color: cfg.$highlightTextColor;
            }

            .p-steps-title {
                font-weight: cfg.$stepsItemActiveFontWeight;
                color: cfg.$textColor;
            }
        }

        &:before {
            content:' ';
            border-top: cfg.$divider;
            width: 100%;
            top: 50%;
            left: 0;
            display: block;
            position: absolute;
            margin-top: math.div(-1 * cfg.$stepsItemNumberHeight, 2);
        }
    }
}
