@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-tabmenu {
    .p-tabmenu-nav {
        background: cfg.$tabviewNavBg;
        border: cfg.$tabviewNavBorder;
        //border-width: cfg.$tabviewNavBorderWidth;
        

        .p-menuitem-badge {
            @include util.menuitem-badge();
        }

        .p-tabmenuitem {
            margin-right: cfg.$tabviewHeaderSpacing;

            .p-menuitem-link {
                //border: cfg.$tabviewHeaderBorder;
                border-width: cfg.$tabviewHeaderBorderWidth;
                border-color: cfg.$tabviewHeaderBorderColor;
                background: cfg.$tabviewHeaderBg;
                color: cfg.$tabviewHeaderTextColor;
                padding: cfg.$tabviewHeaderPadding;
                font-weight: cfg.$tabviewHeaderFontWeight;
                border-top-right-radius: cfg.$borderRadius;
                border-top-left-radius: cfg.$borderRadius;
                transition: cfg.$listItemTransition;
                margin: cfg.$tabviewHeaderMargin;

                .p-menuitem-icon {
                    margin-right: cfg.$inlineSpacing;
                }

                &:not(.p-disabled):focus-visible {
                    @include util.focused-inset();
                }
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                .p-menuitem-link {
                    background: cfg.$tabviewHeaderHoverBg;
                    border-color: cfg.$tabviewHeaderHoverBorderColor;
                    color: cfg.$tabviewHeaderTextHoverColor;
                }
            }

            &.p-highlight {
                .p-menuitem-link {
                    background: cfg.$tabviewHeaderActiveBg;
                    border-color: cfg.$tabviewHeaderActiveBorderColor;
                    color: cfg.$tabviewHeaderTextActiveColor;
                }
            }
        }
    }

    .p-tabmenu-left-icon {
        margin-right: cfg.$inlineSpacing;
    }

    .p-tabmenu-right-icon {
        margin-left: cfg.$inlineSpacing;
    }

    .p-tabmenu-nav-btn.p-link {
        background: cfg.$tabviewHeaderActiveBg;
        color: cfg.$tabviewHeaderTextActiveColor;
        width: cfg.$buttonIconOnlyWidth;
        box-shadow: cfg.$raisedButtonShadow;
        border-radius: 0;

        &:focus {
            @include util.focused-inset();
        }
    }
}
