@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-badge {
    background: cfg.$badgeBg;
    color: cfg.$badgeTextColor;
    font-size: cfg.$badgeFontSize;
    font-weight: cfg.$badgeFontWeight;
    min-width: cfg.$badgeMinWidth;
    height: cfg.$badgeHeight;
    line-height: cfg.$badgeHeight;

    @if variable-exists(secondaryMessageBg) {
        &.p-badge-secondary {
            background-color: cfg.$secondaryButtonBg;
            color: cfg.$secondaryButtonTextColor;
        }
    
        &.p-badge-contrast {
            background-color: cfg.$contrastButtonBg;
            color: cfg.$contrastButtonTextColor;
        }
    }

    &.p-badge-success {
        background-color: cfg.$successButtonBg;
        color: cfg.$successButtonTextColor;
    }

    &.p-badge-info {
        background-color: cfg.$infoButtonBg;
        color: cfg.$infoButtonTextColor;
    }

    &.p-badge-warning {
        background-color: cfg.$warningButtonBg;
        color: cfg.$warningButtonTextColor;
    }

    &.p-badge-danger {
        background-color: cfg.$dangerButtonBg;
        color: cfg.$dangerButtonTextColor;
    }

    &.p-badge-lg {
        font-size: 1.5 * cfg.$badgeFontSize;
        min-width: 1.5 * cfg.$badgeMinWidth;
        height: 1.5 * cfg.$badgeHeight;
        line-height: 1.5 * cfg.$badgeHeight;
    }

    &.p-badge-xl {
        font-size: 2 * cfg.$badgeFontSize;
        min-width: 2 * cfg.$badgeMinWidth;
        height: 2 * cfg.$badgeHeight;
        line-height: 2 * cfg.$badgeHeight;
    }
}