@if(main) {
<h6 class="side--item-title">{{title | uppercase}}</h6>
}
@else if(routerLink && !hasChildren && isVisible) {
<ng-container *ngTemplateOutlet="routerItem"></ng-container>
}

@else {
    <ng-container *ngTemplateOutlet="collapseItem"></ng-container>
}

<ul #submenu *ngIf="hasChildren" class="side--item-submenu">
    <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
        <li class="has-sub" ts-side-item [item]="child" [index]="i" [level]="level + 1"></li>
    </ng-template>
</ul>




<ng-template #collapseItem>
    <a class="side--item-link" [ngClass]="styleClass" [ngStyle]="style" [attr.target]="target" [attr.tabindex]="0"
        [attr.disbaled]="disabled" [routerLink]="routerLink" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="routerLinkActiveOptions" [fragment]="fragment" [queryParams]="queryParams"
        [queryParamsHandling]="queryParamsHandling" [relativeTo]="relativeTo" [preserveFragment]="preserveFragment"
        [replaceUrl]="replaceUrl" [skipLocationChange]="skipLocationChange" [state]="state" pRipple [pTooltip]="tooltip"
        [tooltipPosition]="tooltipPosition" [tooltipOptions]="tooltipProp">
    
        <span class="side--item-icon" [ngClass]="iconClass" [ngStyle]="iconStyle"></span>
        <span class="side--item-title">{{title}}</span>
    
        @if (!!badge) {
        <p-badge [value]="badge" [styleClass]="badgeClass" [style]="badgeStyle" [badgeSize]="badgeSize"
            [severity]="badgeSeverity" [badgeDisabled]="badgeDisabled"></p-badge>
        }
    
        @if(hasPinned) { 
        <span class="side--item-icon pinned-icon" [ngClass]="pinnedClass" [ngStyle]="pinnedStyle"></span>
        }

        <span class="side--item-icon collapse-icon pi pi-angle-down"></span>
    
    </a>
</ng-template>

<ng-template #routerItem let-item>
    <a class="side--item-link" [ngClass]="styleClass" [ngStyle]="style"
        [attr.target]="target" [attr.tabindex]="0" [attr.disbaled]="disabled" [routerLink]="routerLink"
        [routerLinkActive]="'active'" [routerLinkActiveOptions]="routerLinkActiveOptions" [fragment]="fragment"
        [queryParams]="queryParams" [queryParamsHandling]="queryParamsHandling" [relativeTo]="relativeTo"
        [preserveFragment]="preserveFragment" [replaceUrl]="replaceUrl"
        [skipLocationChange]="skipLocationChange" [state]="state" pRipple
        [pTooltip]="tooltip" [tooltipPosition]="tooltipPosition" [tooltipOptions]="tooltipProp">

        <span class="side--item-icon" [ngClass]="iconClass" [ngStyle]="iconStyle"></span>
        <span class="side--item-title">{{title}}</span>

        @if (!!badge) {
        <p-badge [value]="badge" [styleClass]="badgeClass" [style]="badgeStyle" [badgeSize]="badgeSize"
            [severity]="badgeSeverity" [badgeDisabled]="badgeDisabled"></p-badge>
        }

        @if(hasPinned) {
            <span class="side--item-icon pinned-icon" [ngClass]="pinnedClass" [ngStyle]="pinnedStyle"></span>
        }

    </a>
</ng-template>