@use "../../../setting/colors" as clr;
@use "../../../setting/config" as cfg;

.p-inputswitch {
  .p-inputswitch-slider {
    border: 0 none;
  }

  &.p-highlight {
    p-inputswitch-slider:before {
      left: 1.25rem;
      transform: none;
    }
  }

  &.p-invalid > .p-inputswitch-slider {
    background: cfg.$errorColor;


    &:before {
      background: clr.$shade000;
    }
  }
}