@use "../../../setting/config" as cfg;.p-panel {
    border: 1px solid cfg.$panelHeaderBorderColor;
    border-radius: cfg.$borderRadius;
    background-color: cfg.$panelContentBg;

    .p-panel-header,
    .p-panel-content,
    .p-panel-footer {
        background: transparent;
        border: 0 none;
    }

    &:has(.p-panel-footer) {
        .p-panel-content {
            padding-bottom: .875rem;
        }
    }
}
