@use "../../../setting/config" as cfg;.p-terminal {
	background: cfg.$inputBg;
	color: cfg.$inputTextColor;
	border: cfg.$inputBorder;
	padding: cfg.$inputPadding;
    border-radius: cfg.$borderRadius;

    .p-terminal-prompt {
        margin-right: .25rem;
    }

    .p-terminal-response {
        margin: 2px 0;
    }
}
