@use "../../../setting/config" as cfg;.p-treetable {
    .p-treetable-tbody {
        > tr {
            &:has(+ .p-highlight) {
                > td {
                    border-bottom-color: scale-color(cfg.$highlightBg, $lightness: -10%);
                }
            }

            &.p-highlight {
                > td {
                    border-bottom-color: scale-color(cfg.$highlightBg, $lightness: -10%);

                    .p-treetable-toggler {
                        &:hover {
                            background-color: cfg.$highlightBg;
                            color: cfg.$highlightTextColor;
                        }
                    }
                }
            }
        }
    }
}