@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-contextmenu {
    padding: cfg.$verticalMenuPadding;
    background: cfg.$overlayMenuBg;
    color: cfg.$menuTextColor;
    border: cfg.$overlayMenuBorder;
    box-shadow: cfg.$overlayMenuShadow;
    border-radius: cfg.$borderRadius;
    width: cfg.$menuWidth;

    .p-contextmenu-root-list {
        outline: 0 none;
    }

    .p-submenu-list {
        padding: cfg.$verticalMenuPadding;
        background: cfg.$overlayMenuBg;
        border: cfg.$overlayMenuBorder;
        box-shadow: cfg.$overlayMenuShadow;
        border-radius: cfg.$borderRadius;
    }

    .p-menuitem {
        @include util.menuitem();
    }

    .p-menuitem-separator {
        border-top: cfg.$divider;
        margin: cfg.$menuSeparatorMargin;
    }

    .p-submenu-icon {
        font-size: cfg.$menuitemSubmenuIconFontSize;

        &.p-icon {
            width: cfg.$menuitemSubmenuIconFontSize;
            height: cfg.$menuitemSubmenuIconFontSize;
        }
    }
}
