@import "../public/fontawesome/css/all.css";

//@import "scss/ng-select/default.theme.scss";
//@import "scss/ng-select/ng-select.component.scss";

// ag-grid themes
@import "@ag-grid-community/styles/ag-grid.min.css";
@import "@ag-grid-community/styles/ag-theme-quartz.css";

//Editor is rich text editor component based on Quill
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";

// @import "primeflex/primeflex.min.css";
 @import "../../../all-theme/primeflex";


@media screen and (min-width: 768px) {
  .p-dynamic-dialog {
      // flex: 1 1 auto;
  
      &:not(.p-dialog-maximized) {
        max-width: 60%;
      }
    }
}

.overlay-container {
  position: absolute;
  z-index: 9999999;
}

.p-inputgroup .p-inputwrapper {
  width: unset;
}



.p-button.small {
  padding: 0.3rem 0.5rem !important;
}

.ag-header-cell-text,
.ag-header-group-text {
  text-align: center;
}


.ql-snow .ql-color-picker .ql-picker-item {
  height: 1.5rem!important;
  width: 1.5rem!important;
}

.borderless {
  .p-fieldset {
    border-width: 0;

    .p-fieldset-legend {
      border-width: 0;

      span:not(:empty) {
        padding: 0rem;
      }
    }
  }
}