@import "../public/fontawesome/css/all.css";

@import "scss/ng-select/default.theme.scss";
@import "scss/ng-select/ng-select.component.scss";


// ag-grid themes
@import "ag-grid-community/styles/ag-grid.min.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
 
//Editor is rich text editor component based on Quill
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
 
@import "primeicons/primeicons.css"; 
// @import "primeng/resources/themes/aura-light-lime/theme.css";
@import "primeng/resources/primeng.css";
 
@import "scss/primeflex/primeflex.scss";
// @import "scss/primeng/theme/custom/variables";
// @import "scss/primeng/theme-base/components";
// 

// @import "scss/primeng/theme/my-aura/aura-light/lime/theme.scss" ;
// @import "scss/primeng/theme-base/custom" ;
// @import "scss/primeng/theme-base/toastr" ;

@import "scss/layout/scss/layout.scss";

.overlay-container {
    position: absolute;
    z-index: 9999999;
}

.p-inputgroup .p-inputwrapper {
    width: unset;
}

.p-inputgroup .p-autocomplete-input {
    padding: 0.5rem;
}

.p-dynamic-dialog {
    flex: 1 1 auto;
    max-width: 60%;
}

.p-button.small {
    padding: 0.3rem 0.5rem!important;
}

.ag-header-cell-text, .ag-header-group-text {
    text-align: center;
}
