<div class="signup-form flex justify-content-center" *ngIf="asyncView">
  <form [formGroup]="formSignup">
    <p-card header="Đăng ký tài khoản">
      <div class="grid">
        <div class="p-fluid col-6">
          <label for="first_name">{{i18n.first_name | translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-user" />
            <input id="first_name" type="text" pInputText placeholder="First Name" formControlName="first_name" />
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="last_name">{{i18n.last_name | translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-user" />
            <input id="last_name" type="text" pInputText placeholder="Last Name" formControlName="last_name" />
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="email">{{i18n.email | translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-envelope" />
            <input id="email" type="text" pInputText placeholder="Email" formControlName="email" />
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="phone">{{i18n.phone | translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-phone" />
            <input id="phone" type="text" pInputText placeholder="Phone" formControlName="phone" />
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="password">{{ i18n.password| translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-key" />
            <p-password [minlength]="8" [toggleMask]="true" placeholder="Password" [feedback]="false"
              formControlName="password"></p-password>
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="re_password">{{i18n.re_password | translate}}</label>
          <p-iconField>
            <p-inputIcon styleClass="fa-light fa-key" />
            <p-password tem id="re_password" [minlength]="8" placeholder="Repeat Password" [toggleMask]="true" [feedback]="false"
              formControlName="re_password">
            </p-password>
          </p-iconField>
        </div>
        <div class="p-fluid col-6">
          <label for="dob">{{i18n.dob | translate}}</label>
          <p-calendar id="dob" formControlName="dob" dateFormat="yy-mm-dd" placeholder="Ngày sinh" [showIcon]="true"
            [iconDisplay]="'input'"></p-calendar>

        </div>
        <div class="p-fluid col-6">
          <label for="gender">{{i18n.gender | translate}}</label>
          <p-dropdown id="gender" formControlName="gender"
            placeholder="{{'users.holder.gender' | translate}}"></p-dropdown>
        </div>
      </div>
      <div class="grid mt-1">
        <div class="col-12">
          <p-checkbox [binary]="true" id="read_terms" formControlName="allow_term"></p-checkbox>
          <label for="read_terms" class="ml-2">Tôi đã đọc và đồng ý với <a routerLink="/terms">Điều khoản sử dụng dịch
              vụ</a> và <a routerLink="/chinhsach">Chính sách bảo mật</a> của APP</label>
        </div>
      </div>
      <div class="grid mt-2">
        <p-button label="Đăng ký" icon="pi pi-user-plus" size="small" [loading]="asyncSignup" class="ml-2"
          (click)="onSignUp()" [disabled]="formSignup.invalid"></p-button>
      </div>
      <div class="grid">
        <div class="col-12">
          <p-divider align="center">Hoặc</p-divider>
        </div>
        <div class="col socials flex gap-3">
          <ng-template ngFor let-item [ngForOf]="socials">
            <p-button [icon]="item.icon" [rounded]="true" [text]="true" [routerLink]="item.link" />
          </ng-template>
        </div>
      </div>

    </p-card>
  </form>
</div>