$field-cls: 'ts-formfield';

.#{$field-cls} {
    
    &-required {
        color: var(--danger-color);
    }

    &-label, label {
        margin-bottom: .2rem;
        padding-left: .2rem;
    }

    .p-password .p-icon-wrapper {
       // right: -.1rem;
    }
}