@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-inline-message {
    padding: cfg.$inlineMessagePadding;
    margin: cfg.$inlineMessageMargin;
    border-radius: cfg.$borderRadius;

    &.p-inline-message-info {
        background: cfg.$infoMessageBg;
        border: cfg.$infoMessageBorder;
        //border-width: cfg.$inlineMessageBorderWidth;
        color: cfg.$infoMessageTextColor;

        .p-inline-message-icon {
            color: cfg.$infoMessageIconColor;
        }
    }

    &.p-inline-message-success {
        background: cfg.$successMessageBg;
        border: cfg.$successMessageBorder;
        //border-width: cfg.$inlineMessageBorderWidth;
        color: cfg.$successMessageTextColor;

        .p-inline-message-icon {
            color: cfg.$successMessageIconColor;
        }
    }

    &.p-inline-message-warn {
        background: cfg.$warningMessageBg;
        border: cfg.$warningMessageBorder;
        //border-width: cfg.$inlineMessageBorderWidth;
        color: cfg.$warningMessageTextColor;

        .p-inline-message-icon {
            color: cfg.$warningMessageIconColor;
        }
    }

    &.p-inline-message-error {
        background: cfg.$errorMessageBg;
        border: cfg.$errorMessageBorder;
       // border-width: cfg.$inlineMessageBorderWidth;
        color: cfg.$errorMessageTextColor;

        .p-inline-message-icon {
            color: cfg.$errorMessageIconColor;
        }
    }

    .p-inline-message-icon {
        font-size: cfg.$inlineMessageIconFontSize;
        margin-right: cfg.$inlineSpacing;
    }

    .p-icon {
        width: cfg.$inlineMessageIconFontSize;
        height: cfg.$inlineMessageIconFontSize;
    }

    .p-inline-message-text {
        font-size: cfg.$inlineMessageTextFontSize;
    }

    &.p-inline-message-icon-only {
        .p-inline-message-icon {
            margin-right: 0;
        }
    }
}
