@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-paginator {
    background: cfg.$paginatorBg;
    color: cfg.$paginatorTextColor;
    border: cfg.$paginatorBorder;
    //border-width: cfg.$paginatorBorderWidth;
    padding: cfg.$paginatorPadding;
    border-radius: cfg.$borderRadius;

    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
        background-color: cfg.$paginatorElementBg;
        border: cfg.$paginatorElementBorder;
        color: cfg.$paginatorElementIconColor;
        min-width: cfg.$paginatorElementWidth;
        height: cfg.$paginatorElementHeight;
        margin: cfg.$paginatorElementMargin;
        transition: cfg.$listItemTransition;
        border-radius: cfg.$paginatorElementBorderRadius;

        &:not(.p-disabled):not(.p-highlight):hover {
            background: cfg.$paginatorElementHoverBg;
            border-color: cfg.$paginatorElementHoverBorderColor;
            color: cfg.$paginatorElementIconHoverColor;
        }
    }

    .p-paginator-first {
        border-top-left-radius: cfg.$paginatorElementBorderRadius;
        border-bottom-left-radius: cfg.$paginatorElementBorderRadius;
    }

    .p-paginator-last {
        border-top-right-radius: cfg.$paginatorElementBorderRadius;
        border-bottom-right-radius: cfg.$paginatorElementBorderRadius;
    }

    .p-dropdown {
        margin-left: cfg.$inlineSpacing;
        margin-right: cfg.$inlineSpacing;
        height: cfg.$paginatorElementHeight;

        .p-dropdown-label {
            padding-right: 0;
        }
    }

    .p-paginator-page-input {
        margin-left: cfg.$inlineSpacing;
        margin-right: cfg.$inlineSpacing;

        .p-inputtext {
            max-width: cfg.$paginatorElementWidth;
        }
    }

    .p-paginator-current {
        background-color: cfg.$paginatorElementBg;
        border: cfg.$paginatorElementBorder;
        color: cfg.$paginatorElementIconColor;
        min-width: cfg.$paginatorElementWidth;
        height: cfg.$paginatorElementHeight;
        margin: cfg.$paginatorElementMargin;
        padding: 0 cfg.$inlineSpacing;
    }

    .p-paginator-pages {
        .p-paginator-page {
            background-color: cfg.$paginatorElementBg;
            border: cfg.$paginatorElementBorder;
            color: cfg.$paginatorElementIconColor;
            min-width: cfg.$paginatorElementWidth;
            height: cfg.$paginatorElementHeight;
            margin: cfg.$paginatorElementMargin;
            transition: cfg.$listItemTransition;
            border-radius: cfg.$paginatorElementBorderRadius;

            &.p-highlight {
                background: cfg.$highlightBg;
                border-color: cfg.$highlightBg;
                color: cfg.$highlightTextColor;
            }

            &:not(.p-highlight):hover {
                background: cfg.$paginatorElementHoverBg;
                border-color: cfg.$paginatorElementHoverBorderColor;
                color: cfg.$paginatorElementIconHoverColor;
            }
        }
    }
}
