@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-icon-field-left{
    .p-input-icon:first-of-type {
        left: cfg.$inputIconLeftPadding;
        color: cfg.$inputIconColor;
    }
}

.p-icon-field-right {
    .p-input-icon:last-of-type  {
        right: cfg.$inputIconRightPadding;
        color: cfg.$inputIconColor;
    }
}