@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

.p-inputotp {
    display: flex;
    align-items: center;
    gap: cfg.$inlineSpacing;
}

.p-inputotp-input {
    text-align: center;
    width: 2 * nth(cfg.$inputPadding, 2) + 1rem;
}
