$primaryColor: #84cc16;
$primaryDarkerColor: #4d7c0f;

@forward "../../setting/colors" with (
  $primary: $primaryColor
);

@use "../../setting/colors" as clr;

@forward "../../setting/config" with (
  $primaryDarkColor: #65a30d !default,
  $primaryDarkerColor: #4d7c0f !default,
  $primaryTextColor: #ffffff !default,

  $highlightBg: #f7fee7 !default,
  $highlightTextColor: $primaryDarkerColor !default,
  $highlightFocusBg: rgba($primaryColor, .24) !default
);

@use "../../general";
@use "../../component";
@use "extensions";

