<form [formGroup]="formGroup" (ngSubmit)="saveForm()" class="email-template">
    <h5>- Cài đặt dữ liệu mẫu email - </h5>
    <div class="grid">
        <div class="col-12">
            <p-editor [style]="{ height: '150px' }" formControlName="html"></p-editor>
        </div>
        <p-divider class="col-12" align="left">Thông tin field</p-divider>
        <div class="col-12 ls-field">
            <ng-container formArrayName="fields">
                @for (field of fields.controls; track $index) {
                    <div class="grid mb-2 grid-bottom" [formGroup]="field">
                        <div class="p-fluid pl-0 col-4 sm:col-3">
                            <label class="text-success">Mã dữ liệu</label>
                            <input pInputText formControlName="name">
                        </div>
                        <div class="p-fluid col-8 sm:col-4">
                            <label>Tiêu đề DL</label>
                            <input pInputText formControlName="label">
                        </div>                      
                        <div class="p-fluid col-4 sm:col-2">
                            <label>Loại DL</label>
                            <p-dropdown [options]="lsInputType" [overlayOptions]="{mode: 'modal'}"
                                formControlName="type"></p-dropdown>
                        </div>
                        <div class="p-fluid col-7 sm:col-2">
                            <label>Giá trị</label>
                            <input pInputText formControlName="value">
                        </div>
                        <div class="p-fluid col-1 field-remove">
                            <button icon="pi pi-trash" size="small" pButton (click)="removeField($index)"></button>
                        </div>
                    </div>
                }
            </ng-container>



        </div>
        <ts-toolbar class="col-12">
            <p-button label="Thêm field" severity="help" (onClick)="addField()" [disabled]="disabledAddField()"></p-button>
            <p-button label="Lưu lại" type="submit " severity="success" [disabled]="formGroup.invalid"></p-button>
            <p-button label="Đóng" severity="info" (onClick)="closeDialog()"></p-button>
        </ts-toolbar>
    </div>
</form>