.layout-menu-indigo {
  --menu-bg: #1a237e;
  --menu-scroll-thumb: var(--menuitem-hover-bg);
  --logo-name-color:  rgba(255, 255, 255, 0.6);
  --root-menuitem-text-color: #ffffff;
  --menuitem-text-color: rgba(255, 255, 255, 0.6);
  --menuitem-hover-bg: rgba(255, 255, 255, 0.12);
  --active-menuitem-text-color: #ffffff;
  --active-menuitem-bg: rgba(255, 255, 255, 0.24);
  --inline-menu-border-color: rgba(255, 255, 255, 0.24);
}
