ts-ticket-form {
  display: block;
}

.ticket-form {
  .p-fieldset {
    border-width: 0;

    .p-fieldset-legend {
      border-width: 0;

      span:not(:empty) {
        padding: 0rem;
      }
    }
  }

  .ct_email .p-dropdown-label {
    text-wrap: wrap;
  }

  .template-list {
    .p-chip {
      cursor: pointer;
    }
    a.here {
      text-decoration: underline;
      color: var(--info-color);
    }
  }

  &.template {
    // display: block;

    .col-left {
      width: 75% !important;
    }

    .col-right {
      width: 25% !important;
    }
  }

  &.grid {
    margin-top: 0px;
  }

  .toolbar.border-end {
    border-bottom: 5px solid var(--primary-color);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .r-import {
    font-weight: bold;
    .current {
      color: var(--danger-color);
    }

    .total {
      color: var(--help-color);
    }

    .sep {
      color: var(--info-color);
    }

    .p-click .pi {
      font-size: 1.5rem;
    }

    .p-abort {
      text-decoration: underline;
      color: var(--danger-color);
    }
  }
}
