ts-ticket-form {
  display: block;
}

.ticket-form {

  .template_list .p-chip {
    cursor: pointer;
  }

  &.template {
    display: block;

    .col-left {
     width: 100%!important;
    }

    .col-right {
     width: 100%!important;
    }

  }

  .toolbar.border-end {
    border-bottom: 5px solid var(--primary-color);
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }


}
