<form class="grid" (ngSubmit)="handleConvert()" [formGroup]="form">
    <div class="col-12">
        <p-button type="submit" label="Convert" [loading]="hasSend" loadingIcon="pi pi-sync"></p-button>
    </div>
	
	<div class="col-12">
        <ts-input-group [compact]="false" [addonGap]="1">
            <!-- prefix -->
            <span prefix class="pi pi-user"></span>
            <span prefix class="pi pi-user"></span>
            <span prefix class="pi pi-user"></span>

            <!-- suffix -->
            <span suffix class="pi pi-user"></span>
            <span suffix class="pi pi-user"></span>
            <span suffix class="pi pi-user"></span>

            <!-- addOnAfter -->
            <p-button label="Log" addOnBefore />
            <p-button label="Log" addOnBefore />
            <p-button label="Log" addOnBefore />
            <p-button label="Log" addOnBefore/>

            <!-- addOnBefore -->
            <p-dropdown addOnAfter />
            <p-dropdown addOnAfter />
            <p-dropdown addOnAfter />

        </ts-input-group>
    </div>
	
    <div class="p-fluid col-6">
        <textarea pInputTextarea  [rows]="20" formControlName="source"></textarea>
    </div>
    <div class="p-fluid col-6">
        <textarea pInputTextarea [rows]="20" formControlName="target"></textarea>
    </div>
    
</form>