@use "../settings/config" as cfg;
@use "../settings/color-scale" as scale;
@use "../settings/color-vars" as vars;
@use "../settings/utils" as utils;

.root {

  // Color scale

  -color-dark: scale.$dark;
  -color-light: scale.$light;

  -color-base-0: scale.$base-0;
  -color-base-1: scale.$base-1;
  -color-base-2: scale.$base-2;
  -color-base-3: scale.$base-3;
  -color-base-4: scale.$base-4;
  -color-base-5: scale.$base-5;
  -color-base-6: scale.$base-6;
  -color-base-7: scale.$base-7;
  -color-base-8: scale.$base-8;
  -color-base-9: scale.$base-9;

  -color-accent-0: scale.$accent-0;
  -color-accent-1: scale.$accent-1;
  -color-accent-2: scale.$accent-2;
  -color-accent-3: scale.$accent-3;
  -color-accent-4: scale.$accent-4;
  -color-accent-5: scale.$accent-5;
  -color-accent-6: scale.$accent-6;
  -color-accent-7: scale.$accent-7;
  -color-accent-8: scale.$accent-8;
  -color-accent-9: scale.$accent-9;

  -color-success-0: scale.$success-0;
  -color-success-1: scale.$success-1;
  -color-success-2: scale.$success-2;
  -color-success-3: scale.$success-3;
  -color-success-4: scale.$success-4;
  -color-success-5: scale.$success-5;
  -color-success-6: scale.$success-6;
  -color-success-7: scale.$success-7;
  -color-success-8: scale.$success-8;
  -color-success-9: scale.$success-9;

  -color-warning-0: scale.$warning-0;
  -color-warning-1: scale.$warning-1;
  -color-warning-2: scale.$warning-2;
  -color-warning-3: scale.$warning-3;
  -color-warning-4: scale.$warning-4;
  -color-warning-5: scale.$warning-5;
  -color-warning-6: scale.$warning-6;
  -color-warning-7: scale.$warning-7;
  -color-warning-8: scale.$warning-8;
  -color-warning-9: scale.$warning-9;

  -color-danger-0: scale.$danger-0;
  -color-danger-1: scale.$danger-1;
  -color-danger-2: scale.$danger-2;
  -color-danger-3: scale.$danger-3;
  -color-danger-4: scale.$danger-4;
  -color-danger-5: scale.$danger-5;
  -color-danger-6: scale.$danger-6;
  -color-danger-7: scale.$danger-7;
  -color-danger-8: scale.$danger-8;
  -color-danger-9: scale.$danger-9;

  -color-lightslategrey: scale.$lightslategrey;
  -color-darkviolet: scale.$darkviolet;
  -color-bisque: scale.$bisque;
  -color-cyan: scale.$cyan;
  -color-darkslateblue: scale.$darkslateblue;
  -color-lightgrey: scale.$lightgrey;
  -color-khaki: scale.$khaki;
  -color-darkgray: scale.$darkgray;
  -color-blanchedalmond: scale.$blanchedalmond;
  -color-saddlebrown: scale.$saddlebrown;
  -color-darkblue: scale.$darkblue;
  -color-lightcoral: scale.$lightcoral;
  -color-moccasin: scale.$moccasin;
  -color-orangered: scale.$orangered;
  -color-azure: scale.$azure;
  -color-lightgoldenrodyellow: scale.$lightgoldenrodyellow;
  -color-skyblue: scale.$skyblue;
  -color-chartreuse: scale.$chartreuse;
  -color-deepskyblue: scale.$deepskyblue;
  -color-mediumpurple: scale.$mediumpurple;
  -color-lightyellow: scale.$lightyellow;
  -color-violet: scale.$violet;
  -color-palevioletred: scale.$palevioletred;
  -color-dimgrey: scale.$dimgrey;
  -color-rosybrown: scale.$rosybrown;
  -color-honeydew: scale.$honeydew;
  -color-mediumblue: scale.$mediumblue;
  -color-darkseagreen: scale.$darkseagreen;
  -color-limegreen: scale.$limegreen;
  -color-paleturquoise: scale.$paleturquoise;
  -color-burlywood: scale.$burlywood;
  -color-mediumorchid: scale.$mediumorchid;
  -color-papayawhip: scale.$papayawhip;
  -color-silver: scale.$silver;
  -color-chocolate: scale.$chocolate;
  -color-lightsteelblue: scale.$lightsteelblue;
  -color-pink: scale.$pink;
  -color-darkgreen: scale.$darkgreen;
  -color-seashell: scale.$seashell;
  -color-sienna: scale.$sienna;
  -color-thistle: scale.$thistle;
  -color-yellow: scale.$yellow;
  -color-cornsilk: scale.$cornsilk;
  -color-lightseagreen: scale.$lightseagreen;
  -color-blueviolet: scale.$blueviolet;
  -color-tomato: scale.$tomato;
  -color-transparent: scale.$transparent;
  -color-cornflowerblue: scale.$cornflowerblue;
  -color-gold: scale.$gold;
  -color-sandybrown: scale.$sandybrown;
  -color-springgreen: scale.$springgreen;
  -color-crimson: scale.$crimson;
  -color-gray: scale.$gray;
  -color-mediumvioletred: scale.$mediumvioletred;
  -color-slategrey: scale.$slategrey;
  -color-darkcyan: scale.$darkcyan;
  -color-ivory: scale.$ivory;
  -color-darkmagenta: scale.$darkmagenta;
  -color-wheat: scale.$wheat;
  -color-indianred: scale.$indianred;
  -color-darkorchid: scale.$darkorchid;
  -color-mintcream: scale.$mintcream;
  -color-whitesmoke: scale.$whitesmoke;
  -color-lightpink: scale.$lightpink;
  -color-black: scale.$black;
  -color-teal: scale.$teal;
  -color-cadetblue: scale.$cadetblue;
  -color-beige: scale.$beige;
  -color-darkkhaki: scale.$darkkhaki;
  -color-blue: scale.$blue;
  -color-darkslategray: scale.$darkslategray;
  -color-royalblue: scale.$royalblue;
  -color-seagreen: scale.$seagreen;
  -color-purple: scale.$purple;
  -color-orchid: scale.$orchid;
  -color-forestgreen: scale.$forestgreen;
  -color-darksalmon: scale.$darksalmon;
  -color-palegreen: scale.$palegreen;
  -color-lightslategray: scale.$lightslategray;
  -color-navy: scale.$navy;
  -color-greenyellow: scale.$greenyellow;
  -color-red: scale.$red;
  -color-aqua: scale.$aqua;
  -color-dodgerblue: scale.$dodgerblue;
  -color-lightblue: scale.$lightblue;
  -color-white: scale.$white;
  -color-olive: scale.$olive;
  -color-coral: scale.$coral;
  -color-peachpuff: scale.$peachpuff;
  -color-darkolivegreen: scale.$darkolivegreen;
  -color-darkturquoise: scale.$darkturquoise;
  -color-darkgrey: scale.$darkgrey;
  -color-lavender: scale.$lavender;
  -color-gainsboro: scale.$gainsboro;
  -color-lightgray: scale.$lightgray;
  -color-plum: scale.$plum;
  -color-tan: scale.$tan;
  -color-midnightblue: scale.$midnightblue;
  -color-powderblue: scale.$powderblue;
  -color-dimgray: scale.$dimgray;
  -color-lemonchiffon: scale.$lemonchiffon;
  -color-salmon: scale.$salmon;
  -color-brown: scale.$brown;
  -color-lightgreen: scale.$lightgreen;
  -color-goldenrod: scale.$goldenrod;
  -color-steelblue: scale.$steelblue;
  -color-lightsalmon: scale.$lightsalmon;
  -color-darkred: scale.$darkred;
  -color-snow: scale.$snow;
  -color-olivedrab: scale.$olivedrab;
  -color-yellowgreen: scale.$yellowgreen;
  -color-indigo: scale.$indigo;
  -color-lawngreen: scale.$lawngreen;
  -color-magenta: scale.$magenta;
  -color-aquamarine: scale.$aquamarine;
  -color-floralwhite: scale.$floralwhite;
  -color-antiquewhite: scale.$antiquewhite;
  -color-hotpink: scale.$hotpink;
  -color-turquoise: scale.$turquoise;
  -color-peru: scale.$peru;
  -color-fuchsia: scale.$fuchsia;
  -color-aliceblue: scale.$aliceblue;
  -color-firebrick: scale.$firebrick;
  -color-darkgoldenrod: scale.$darkgoldenrod;
  -color-lavenderblush: scale.$lavenderblush;
  -color-navajowhite: scale.$navajowhite;
  -color-mediumspringgreen: scale.$mediumspringgreen;
  -color-mistyrose: scale.$mistyrose;
  -color-slategray: scale.$slategray;
  -color-darkorange: scale.$darkorange;
  -color-linen: scale.$linen;
  -color-slateblue: scale.$slateblue;
  -color-lightcyan: scale.$lightcyan;
  -color-lightskyblue: scale.$lightskyblue;
  -color-mediumseagreen: scale.$mediumseagreen;
  -color-deeppink: scale.$deeppink;
  -color-mediumturquoise: scale.$mediumturquoise;
  -color-ghostwhite: scale.$ghostwhite;
  -color-green: scale.$green;
  -color-lime: scale.$lime;
  -color-mediumaquamarine: scale.$mediumaquamarine;
  -color-oldlace: scale.$oldlace;
  -color-grey: scale.$grey;
  -color-orange: scale.$orange;
  -color-darkslategrey: scale.$darkslategrey;
  -color-mediumslateblue: scale.$mediumslateblue;
  -color-maroon: scale.$maroon;
  -color-palegoldenrod: scale.$palegoldenrod;

  // Functional variables

  -color-fg-default: vars.$fg-default;
  -color-fg-muted: vars.$fg-muted;
  -color-fg-subtle: vars.$fg-subtle;
  -color-fg-emphasis: vars.$fg-onEmphasis;

  -color-bg-default: vars.$canvas-default;
  -color-bg-overlay: vars.$canvas-overlay;
  -color-bg-subtle: vars.$canvas-subtle;
  -color-bg-inset: vars.$canvas-inset;

  -color-border-default: vars.$border-default;
  -color-border-muted: vars.$border-muted;
  -color-border-subtle: vars.$border-subtle;
  -color-shadow-default: vars.$shadow-default;

  -color-neutral-emphasis-plus: vars.$neutral-emphasisPlus;
  -color-neutral-emphasis: vars.$neutral-emphasis;
  -color-neutral-muted: vars.$neutral-muted;
  -color-neutral-subtle: vars.$neutral-subtle;

  -color-accent-fg: vars.$accent-fg;
  -color-accent-emphasis: vars.$accent-emphasis;
  -color-accent-muted: vars.$accent-muted;
  -color-accent-subtle: vars.$accent-subtle;

  -color-warning-fg: vars.$warning-fg;
  -color-warning-emphasis: vars.$warning-emphasis;
  -color-warning-muted: vars.$warning-muted;
  -color-warning-subtle: vars.$warning-subtle;

  -color-success-fg: vars.$success-fg;
  -color-success-emphasis: vars.$success-emphasis;
  -color-success-muted: vars.$success-muted;
  -color-success-subtle: vars.$success-subtle;

  -color-danger-fg: vars.$danger-fg;
  -color-danger-emphasis: vars.$danger-emphasis;
  -color-danger-muted: vars.$danger-muted;
  -color-danger-subtle: vars.$danger-subtle;

  -color-chart-1: vars.$chart-1;
  -color-chart-2: vars.$chart-2;
  -color-chart-3: vars.$chart-3;
  -color-chart-4: vars.$chart-4;
  -color-chart-5: vars.$chart-5;
  -color-chart-6: vars.$chart-6;
  -color-chart-7: vars.$chart-7;
  -color-chart-8: vars.$chart-8;

  -color-chart-1-alpha70: vars.$chart-1-alpha70;
  -color-chart-2-alpha70: vars.$chart-2-alpha70;
  -color-chart-3-alpha70: vars.$chart-3-alpha70;
  -color-chart-4-alpha70: vars.$chart-4-alpha70;
  -color-chart-5-alpha70: vars.$chart-5-alpha70;
  -color-chart-6-alpha70: vars.$chart-6-alpha70;
  -color-chart-7-alpha70: vars.$chart-7-alpha70;
  -color-chart-8-alpha70: vars.$chart-8-alpha70;

  -color-chart-1-alpha20: vars.$chart-1-alpha20;
  -color-chart-2-alpha20: vars.$chart-2-alpha20;
  -color-chart-3-alpha20: vars.$chart-3-alpha20;
  -color-chart-4-alpha20: vars.$chart-4-alpha20;
  -color-chart-5-alpha20: vars.$chart-5-alpha20;
  -color-chart-6-alpha20: vars.$chart-6-alpha20;
  -color-chart-7-alpha20: vars.$chart-7-alpha20;
  -color-chart-8-alpha20: vars.$chart-8-alpha20;

  // default props inherited by all nodes
  -fx-background-color: -color-bg-default;
  -fx-font-size: cfg.$font-default;

  // these are needed for Popup
  -fx-background-radius: inherit;
  -fx-background-insets: inherit;
  -fx-padding: inherit;

  // make popups transparent
  &.popup {
    -fx-background-color: transparent;
  }


  @each $name, $color in vars.$colors {
    @for $i from 0 through 5 {

      @if ($i == 0) {
        --#{$name}-50:#{utils.tint($color, (5 - $i) * 19%)};
      }
      @else {
        --#{$name}-#{$i * 100}:#{utils.tint($color, (5 - $i) * 19%)};
      }
    }

    @for $i from 1 through 4 {
      --#{$name}-#{($i + 5) * 100}:#{utils.shade($color, $i * 15%)};
    }
  }


}

// font icons
//.ikonli-font-icon {
//-fx-icon-color: -color-fg-default;
//-fx-fill: -color-fg-default;
//-fx-icon-size: cfg.$icon-size;
//}

// Hide mnemonic stroke by default. It can only appear when user holds
// Meta button, which adds ":show-mnemonics" pseudo-class to each control
// that set mnemonicParsing = true.
.mnemonic-underline {
  -fx-stroke: transparent;
}