@use "../../setting/config"as cfg;
@use "../../mixins/utilities"as util;

$cardHeight      : var(--card-height, cfg.$cardHeight);
$cardBorderRadius: var(--card-border-radius, cfg.$cardBorderRadius);
$cardShadow      : var(--card-shadow, cfg.$cardShadow);

$cardHeaderPadding    : var(--card-header-padding, cfg.$cardHeaderPadding);
$cardHeaderMargin     : var(--card-header-margin, cfg.$cardHeaderMargin);
$cardHeaderBorderWidth: var(--card-header-border-width, cfg.$cardHeaderBorderWidth);
$cardHeaderBorderColor: var(--card-header-border-color, cfg.$cardHeaderBorderColor);
$cardHeaderLeftGap    : var(--card-header-left-gap, cfg.$flexGap);
$cardHeaderIconSize: var(--card-header-icon-size, cfg.$fontSize);

$cardBodyPadding: var(--card-body-padding, cfg.$cardBodyPadding);
$cardSectionGap: var(--card-section-gap, cfg.$cardSectionGap);

@mixin headerFlex() {
    @include util.flex-row(nowrap, $cardHeaderLeftGap);
}

.p-card, .ts-card {

    @include util.flex-column();

    word-wrap      : break-word;
    background-clip: border-box;

    height         : $cardHeight;
    color          : cfg.$panelContentTextColor;
    background     : cfg.$panelContentBg;
    box-shadow     : $cardShadow;
    border-radius  : $cardBorderRadius;
    border         : cfg.$borderWidth solid cfg.$borderColor;
    justify-content: space-between;

    .breakpoint-sm & {
        --card-border-radius: 0!important;
    }

    &-header {
        @include headerFlex();
        padding      : $cardHeaderPadding;
        margin       : $cardHeaderMargin;
        border-bottom: $cardHeaderBorderWidth solid $cardHeaderBorderColor;
        justify-content: space-between;

        &-left-wrapper, &-right-wrapper {
            @include headerFlex();
        }

        &-actions {
            @include headerFlex();
        }

        &-title {
            font-weight: 700;
        }

        .pi, .icon {
            font-size: $cardHeaderIconSize;
        }

    }


    &-body {
        padding: $cardBodyPadding;
    }

    &-body-content .ts-card-section:first-child {
        margin-top: 0!important;
    }

    &-section {
        display: flex;
        flex-flow: column nowrap;
        row-gap: $cardSectionGap;
        margin-top: $cardSectionGap;
        
        &-header {
            color       : cfg.$panelHeaderTextColor;
            font-weight : cfg.$panelHeaderFontWeight;
        }


    }


}