@use "../../setting/config" as cfg;
@use "sass:list";

$ribbon-cls: 'ribbon';
$ribbon-text-color: var(--ribbon-text-color, cfg.$ribbon-text-color);
$ribbon-bg: var(--ribbon-bg, cfg.$ribbon-bg);
$ribbon-clip-bg: var(--ribbon-clip-bg, cfg.$ribbon-bg);
$ribbon-gap: var(--ribbon-gap, 1rem);

$ribbon-h-padding: var(--ribbon-padding, cfg.$ribbon-h-padding);
$ribbon-v-padding: var(--ribbon-padding, cfg.$ribbon-v-padding);

$ribbon-height: var(--ribbon-height, 30px);

//clip
$ribbon-clip-size: 1rem;
$ribbon-clip-border: calc($ribbon-clip-size / 2) dashed transparent;

@mixin clipBefore() {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border: $ribbon-clip-border;
}


.#{$ribbon-cls} {
  position: absolute;
  z-index: 2;
  color: $ribbon-text-color;
  background: $ribbon-bg;


  &-wrapper {
    position: relative;
  }

  &-horizontal {
    padding: $ribbon-h-padding;
    height: calc(var(--ribbon-height));
    line-height: calc(var(--ribbon-height));
    clear: left;
  }

  &-vertical {
    clear: none;
    padding: $ribbon-v-padding;
    height: calc(var(--ribbon-height));
    line-height: calc(var(--ribbon-height));
    text-align: center;
  }

  &-left-top {
    left: 0;
    top: $ribbon-gap;
  }

  &-left-bottom {
    left: 0;
    bottom: $ribbon-gap;
  }

  &-right-top {
    right: 0;
    top: $ribbon-gap;
  }

  &-right-bottom {
    right: 0;
    bottom: $ribbon-gap;
  }

  &-clip {

    &:is(&.ribbon-bookmark)::after {
        @include clipBefore();
    }

    &:not(&.ribbon-bookmark)::before {
      @include clipBefore();
    }

    &.#{$ribbon-cls} {

      &-left-top {
        left: calc($ribbon-clip-size * -1);

        &:before {
          left: 0;
          top: calc(var(--ribbon-height));
          border-color: transparent !important;
          border-top-color: $ribbon-clip-bg !important;
          border-right-color: $ribbon-clip-bg !important;
        }
      }

      &-left-bottom {
        left: calc($ribbon-clip-size * -1);

        &:before {
          left: 0;
          bottom: calc(var(--ribbon-height));
          border-top-color: transparent !important;
          border-bottom-color: $ribbon-clip-bg !important;
          border-right-color: $ribbon-clip-bg !important;
        }


      }

      &-right-top {
        right: calc($ribbon-clip-size * -1);

        &:before {
          top: $ribbon-height;
          right: 0;

          border-right-color: transparent !important;
          border-top-color: $ribbon-clip-bg !important;
          border-left-color: $ribbon-clip-bg !important;
        }

      }

      &-right-bottom {
        right: calc($ribbon-clip-size * -1);

        &:before {
          bottom: $ribbon-height;
          right: 0;

          border-top-color: transparent !important;
          border-bottom-color: $ribbon-clip-bg !important;
          border-right-color: transparent !important;
          border-left-color: $ribbon-clip-bg !important;
        }

      }
    }

  }

  &-bookmark {

    &:before {
      position: absolute;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      content: "";
      border: 15px dashed $ribbon-bg;
    }

    &-left:before {
      left: 100%;
      border-right: 10px dashed transparent;
    }

    &-right:before {
      right: 100%;
      left: auto;
      border-right: 15px dashed $ribbon-bg;
      border-left: 10px dashed transparent;
    }


  }

}