<p-card header="{{ 'forms.api_info.title' | translate }}">
    <form [formGroup]="formGroup" (ngSubmit)="onSave()" dis>
        <div class="grid">
            <div class="p-fluid col-12">
                <label for="api_info">{{ 'forms.api_info.list' | translate }}</label>
                <p-dropdown id="api_info" [options]="lsApiCode" optionLabel="displayName"
                formControlName="api_item" (onChange)="onSelectApi($event.value)"
                [loading]="asyncLoad" class="flex-1" [showClear]="true"></p-dropdown>
            </div>
            <div class="p-fluid col-6">
                <label for="user_name">{{ 'users.user_name'|translate }}</label>
                <input id="user_name" pInputText formControlName="username" />
            </div>
            <div class="p-fluid col-6">
                <label for="password">{{ 'users.password' | translate }}</label>
                <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
            </div>
            <div class="p-fluid col-6">
                <label for="csrf_token">{{ 'users.csrf_token'|translate }}</label>
                <input id="csrf_token" pInputText formControlName="csrf_token" />
            </div>
            <div class="p-fluid col-6">
                <label for="cookie">{{ 'users.cookie'|translate }}</label>
                <input id="cookie" pInputText formControlName="cookie" />
            </div>
            <div class="field col-12 flex gap-2">
                <p-checkbox id="auto_login" [binary]="true" formControlName="auto_login"
                    label="{{'users.auto_login'|translate}}"></p-checkbox>
                <p-checkbox id="editOnly" [binary]="true" formControlName="allow_edit"
                    label="{{'users.allow_edit'|translate}}" (onChange)="allowEdit($event.checked)"></p-checkbox>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 flex gap-2">
                <p-button label="{{'actions.save' | translate}}" type="submit" [disabled]="formGroup.invalid"
                    [loading]="asyncSave"></p-button>
                <p-button type="button" label="{{'actions.check_api' | translate}}" [disabled]="disabledCheckApi"
                    [loading]="asyncSave" (click)="checkApi()"></p-button>
                    @if(!hasSetApiCode){
                        <p-button type="button" label="Lấy DS API" (click)="findApiCode()" ></p-button>
                    }

                    @if(hasDialogRef){
                        <p-button type="button" label="Đóng" (click)="closeDialogRef()" ></p-button>
                    }
            </div>
        </div>
    </form>
</p-card>