<p-card  [style]="{width: '720px'}"  id="api-info-fr" [header]="headerLabel">
    <form [formGroup]="form" class="sm">
        <div class="grid">
            <div class="p-fluid col-12">
                <label for="api_info" class="flex gap-2">
                    <span>{{ 'forms.api_info.list' | translate }}</span>
                    <span class="text-danger" *ngIf="!lsApi?.length"> -- Không có dòng nào </span>
                </label>
                <div class="flex gap-2">
                    <p-dropdown id="api_info" class="flex-1" [options]="lsApi" optionLabel="displayName" dataKey="api_id"
                        formControlName="api_item" (onChange)="onSelectApi($event.value)"></p-dropdown>
    
                    <p-button type="button" icon="pi pi-bars" label="{{'actions.get_all'|translate}}"
                        [disabled]="!!action" [loading]="state.loadDs" (onClick)="clickLoadApiInfo()"
                        *ngIf="state.visibleBtnLoadApi"></p-button>
    
                    <p-button type="button" icon="pi pi-copy" label="{{'actions.copy' | translate}}" 
                        [disabled]="state.disableButton" (onClick)="clickCopyApi()" *ngIf="isAllowCopy && state.showAction"></p-button>
    
                    <p-button type="button" icon="pi pi-edit" label="{{'actions.edit' | translate}}" 
                        (onClick)="clickEditApi()" *ngIf="isEditTT && state.showAction"></p-button>
                </div>
            </div>
    
            <ng-container formGroupName="api_info">
                <p-divider class="col-12" layout="horizontal" align="left" *ngIf="divider">
                    <span>{{'api.api_info' | translate}}</span>
                </p-divider>
                <div class="p-fluid col-6 xxl:col-6">
                    <label for="base_url">{{ 'api.base_url'|translate }}</label>
                    <input id="base_url" pInputText formControlName="base_url" />
                </div>
                <div class="p-fluid col-3 xxl:col-3">
                    <label for="app_uid">{{ 'api.app_uid'|translate }}</label>
                    <input id="app_uid" pInputText formControlName="app_uid" />
                </div>
                <div class="p-fluid col-3 xxl:col-3">
                    <label for="app_name">{{ 'api.app_name'|translate }}</label>
                    <input id="app_name" pInputText formControlName="app_name" />
                </div>            
                <ng-container *ngIf="!!action">
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="title">{{ 'api.title'|translate }}</label>
                        <input id="title" pInputText formControlName="title" />
                    </div>
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="login_path">{{ 'api.login_path'|translate }}</label>
                        <input id="login_path" pInputText formControlName="login_path" />
                    </div>
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="headers">{{ 'api.headers'|translate }}</label>
                        <input id="headers" pInputText formControlName="headers" />
                    </div>
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="queries">{{ 'api.queries'|translate }}</label>
                        <input id="queries" pInputText formControlName="queries" />
                    </div>
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="summary">{{ 'api.summary'|translate }}</label>
                        <textarea id="summary" rows="2" autoResize="false" pInputTextarea formControlName="summary"></textarea>
                    </div>
                    <div class="p-fluid col-6 xxl:col-6">
                        <label for="summary">{{ 'api.links'|translate }}</label>
                        <textarea id="links" rows="2" autoResize="false" pInputTextarea formControlName="links"></textarea>
                    </div>
                </ng-container>
            </ng-container>
            <p-divider class="col-12" layout="horizontal" align="left" *ngIf="!!action">{{'api.user_info' | translate}}</p-divider>
            <ng-container formGroupName="user_api">
                <div class="p-fluid col-6">
                    <label for="user_name">{{ 'users.user_name'|translate }} <span class="text-danger">*</span></label>
                    <input id="user_name" pInputText formControlName="user_name" />
                </div>
                <div class="p-fluid col-6">
                    <label for="password">{{ 'users.password' | translate }} <span class="text-danger">*</span></label>
                    <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
                </div>
                <div class="p-fluid col-6">
                    <label for="ts_name">{{ 'users.ts_name'|translate }}</label>
                    <input id="ts_name" pInputText formControlName="ts_name" />
                </div>
                <div class="p-fluid col-6">
                    <label for="ts_email">{{ 'users.ts_email'|translate }}</label>
                    <input id="ts_email" pInputText formControlName="ts_email" />
                </div>
                <div class="p-fluid col-6">
                    <label for="csrf_token">{{ 'users.csrf_token'|translate }}</label>
                    <input id="csrf_token" pInputText formControlName="csrf_token" />
                </div>
                <div class="p-fluid col-6">
                    <label for="cookie_value">{{ 'users.cookie'|translate }}</label>
                    <input id="cookie_value" pInputText formControlName="cookie_value" />
                </div>
                <div class="field col-12 flex gap-2">
                    <p-checkbox id="auto_login" [binary]="true" formControlName="auto_login"

                        label="{{'api.auto_login'|translate}}"></p-checkbox>
                    <p-checkbox id="editOnly" [binary]="true" formControlName="allow_edit"
                        label="{{'api.allow_edit'|translate}}"></p-checkbox>
                </div>
            </ng-container>
            <div class="col-12 flex gap-2 mt-2">
                <p-button icon="pi pi-save" label="{{'actions.cancel'|translate}}" severity="help" 
                    (onClick)="clickResetApi()" *ngIf="visibleResetButton"></p-button>

                <p-button type="submit" icon="pi pi-save" label="{{'actions.save'|translate}}" severity="danger"
                    (onClick)="clickSaveApi()" [disabled]="!formDirty" *ngIf="visibleSaveButton"></p-button>
    
                <p-button type="button" icon="pi pi-check" label="{{'actions.check_api' | translate}}"
                    (onClick)="clickCheckLogin()" *ngIf="visibleCheckButton"></p-button>
    
                <p-button type="button" icon="pi pi-link" label="{{'actions.update_link' | translate}}"
                    (onClick)="clickMenuApi()" *ngIf="visibleCheckButton"></p-button>
    
                <p-button type="button" icon="pi pi-times" label="{{'actions.close' | translate}}" 
                    (onClick)="clickCloseModal()" *ngIf="state.hasModal"></p-button>
            </div>
        </div>
    </form>
</p-card>