$requiredMargin: .2rem;

.required { color: red;}

.form-label {
  display: flex;
  align-items: center;

  .required {
    margin-left: $requiredMargin;
  }


  &.required-begin {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .required {
      margin-right: $requiredMargin;
    }

  }

}