@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;

$prefix: '.p-splitbutton';

#{$prefix} {
    display: inline-flex;
    position: relative;
    border-radius: cfg.$borderRadius;

    &.p-button {

        &-rounded {
            border-radius: cfg.$roundedButtonBorderRadius;

            >.p-button {
                border-radius: cfg.$roundedButtonBorderRadius;
            }
        }

        &-raised {
            box-shadow: cfg.$raisedButtonShadow;
        }
    }

    .p-menu {
        min-width: 100%;
    }







    
    &.p-not-menu-button {
        &#{$prefix}-defaultbutton //   &.p-button-rounded > #{$prefix}-defaultbutton.p-button,

        //  &.p-button-outlined > #{$prefix}-defaultbutton.p-button 
            {
            flex: 1 1 auto;
            border-radius: cfg.$borderRadius;
            border: 1px solid;
        }
    }

    &:not(.p-not-menu-button) {

        #{$prefix}-defaultbutton,
        &.p-button-rounded>#{$prefix}-defaultbutton.p-button,
        &.p-button-outlined>#{$prefix}-defaultbutton.p-button {
            flex: 1 1 auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0 none;
        }

        #{$prefix}-menubutton,
        &.p-button-rounded>#{$prefix}-menubutton.p-button,
        &.p-button-outlined>#{$prefix}-menubutton.p-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 100%;
        }

    }


    .p-fluid & {
        display: flex;
    }

}