@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-scrolltop {
    width: cfg.$scrollTopWidth;
    height: cfg.$scrollTopHeight;
    border-radius: cfg.$scrollTopBorderRadius;
    box-shadow: cfg.$inputOverlayShadow;
    transition: cfg.$actionIconTransition;

    &.p-link {
        background: cfg.$scrollTopBg;

        &:hover {
            background: cfg.$scrollTopHoverBg;
        }
    }

    .p-scrolltop-icon {
        font-size: cfg.$scrollTopFontSize;
        color: cfg.$scrollTopTextColor;
    }

    .p-icon {
        width: cfg.$scrollTopFontSize;
        height: cfg.$scrollTopFontSize;
    }
}