@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-skeleton {
    background-color: cfg.$skeletonBg;
    border-radius: cfg.$borderRadius;

    &:after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), cfg.$skeletonAnimationBg, rgba(255, 255, 255, 0));
    }
}