@use "../../setting/config" as cfg;
@use "../../setting/mixins" as util;
.p-terminal {
	background: cfg.$panelContentBg;
	color: cfg.$panelContentTextColor;
	border: cfg.$panelContentBorder;
	padding: cfg.$panelContentPadding;

	.p-terminal-input {
        font-family: cfg.$fontFamily;
		font-feature-settings: cfg.$fontFeatureSettings;
		font-size: cfg.$inputTextFontSize;
	}
}
