@use "../settings/config" as cfg;

.badge {
  -badge-dot-size: 6;
  -badge-color: #ff4d4f;
  -badge-text-fill: white;

  -fx-badge-type: dot;

  //-fx-dot-size: 8;

  &-label {
    -fx-background-color: -badge-color;

    &:dot {
      -fx-pref-height: -badge-dot-size;
      -fx-pref-width: -badge-dot-size;
      -fx-background-radius: 100%;
      -fx-border-radius: 100%;
    }

    &:count, &:text {
      -fx-padding: 0 cfg.$padding-x;
      -fx-background-radius: cfg.$border-radius;
      -fx-text-fill: -badge-text-fill;
    }



  }




}
