@layer primeng  {
    
    .p-inputgroup .p-inputtext,
    .p-fluid .p-inputgroup .p-inputtext,
    .p-inputgroup .p-inputwrapper,
    .p-inputgroup .p-inputwrapper > .p-component {
        flex: 1 1 auto;
        width: unset;
    }

    .p-fluid > p-iconfield {
        display: block;
    } 

    .p-text-danger {
        color: $dangerButtonBg;
    }
}