@if(visibleForm){
    <div class="ticket-form">
        <ts-ticket-form [data]="currentTicket"></ts-ticket-form>
    </div>
}

<div class="ticket-list grid">
    <div class="toolbar col-12 flex flex-inline gap-2">
        <form [formGroup]="searchForm" (ngSubmit)="searchTicket()" class="flex align-items-center gap-2">
            <p-calendar placeholder="Lấy dữ liệu từ ngày ?" selectionMode="range" showIcon="true" iconDisplay="input"
                dateFormat="yy-mm-dd" [numberOfMonths]="2" formControlName="dateOn"></p-calendar>
    
            <p-dropdown placeholder="Tùy chọn" formControlName="option" [options]="searchOptions"
                optionLabel="label" filter="false"></p-dropdown>
    
            <p-button type="submit" label="Lấy dữ liệu" [styleClass]="'small'"></p-button>
            <p-button label="Demo" [styleClass]="'small'" (onClick)="demo()"></p-button>

            <p-divider [layout]="'vertical'"></p-divider>
            <p-checkbox [binary]="true" label="Hiển thị kênh" formControlName="visibleChanel"></p-checkbox>

        </form>
        
        <p-divider [layout]="'vertical'"></p-divider>
       

        <ts-splitButton label="Nạp / Xuất DL" outlined="true" [model]="excelItems"   [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-file-excel" (onClick)="exportXsl()"></ts-splitButton>

        <ts-splitButton label="Danh sách mẫu" outlined="true" [model]="agTemplates"  [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-list"></ts-splitButton>

        <ts-splitButton label="Báo cáo" outlined="true" [model]="reportItems"  [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-list"></ts-splitButton>

        <ts-splitButton label="Khác" outlined="true" [model]="toolOptions" [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-ellipsis-h">
        </ts-splitButton>

        
        
        
    </div>

    <div class="col-12">
        <ts-ag-table [columns]="agColumns" 
        [rows]="agRows" [option]="agOption" 
        [tableHeight]="'370px'" class="ag-table"
        (rowClicked)="selectTicket($event.data)"
        ></ts-ag-table>
    </div>
</div>