    <div class="ticket-form" id="ticketListForm" *ngIf="visibleForm" [@toggle]="visibleForm == true">
        <ts-ticket-form [data]="currentTicket" (onSave)="saveTicket($event)"></ts-ticket-form>
    </div>


<div class="ticket-list grid">
    <div id="ticketListTool" class="toolbar col-12 flex flex-inline gap-2">
        <form [formGroup]="searchForm" (ngSubmit)="searchTicket()" class="flex align-items-center gap-2">
            <p-calendar placeholder="Lấy dữ liệu từ ngày ?" selectionMode="range" showIcon="true" iconDisplay="input"
                dateFormat="yy-mm-dd" [numberOfMonths]="2" formControlName="dateOn"></p-calendar>
    
            <p-dropdown placeholder="Tùy chọn" formControlName="option" [options]="searchOptions"
                optionLabel="label" filter="false"></p-dropdown>
    
            <p-button type="submit" label="Lấy dữ liệu" [styleClass]="'small'" ></p-button>
            <p-button label="Demo" [styleClass]="'small'" (onClick)="demo()" severity="help"></p-button>

            <p-divider [layout]="'vertical'"></p-divider>
            <p-checkbox [binary]="true" label="Hiển thị kênh" formControlName="visibleChanel"></p-checkbox>
            <p-checkbox [binary]="true" label="Hiển thị form" formControlName="visibleForm"></p-checkbox>

        </form>
        
        <p-divider [layout]="'vertical'"></p-divider>
       

        <ts-splitButton label="Nạp / Xuất DL" [model]="excelItems"   [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-file-excel" (onClick)="exportXsl()" severity="help" raised="true"></ts-splitButton>

        <ts-splitButton label="Danh sách mẫu" [model]="agTemplates"  [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-list"></ts-splitButton>

        <ts-splitButton label="Báo cáo" [model]="reportItems"  [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-list"></ts-splitButton>

        <ts-splitButton label="Khác" [model]="toolOptions" [visibleMenuButton]="false" [menuTrigger]="'hover'"
            [styleClass]="'small'" icon="pi pi-ellipsis-h">
        </ts-splitButton>

        
        
        
    </div>

    <div class="col-12">
        <ts-ag-table [columns]="agColumns" id="agTable"
        [rows]="agRows" [option]="agOption" 
        [tableHeight]="tableHeight" class="ag-table"
        (rowClicked)="selectTicket($event.data)"
        ></ts-ag-table>
    </div>
</div>