:host {
  display: block;
}

.ticket-list {
  .toolbar {
    .p-divider-vertical {
      padding: unset !important;
      margin: unset !important;
    }

    .p-button {
      padding: 0.3rem 0.5rem;
    }
  }
}

.p-ticket-msg {
  width: 25rem;
}

.ag-header-cell-label {
  justify-content: center;
}