:host {
  display: block;
}

.ticket-list {
  .tool-r1 {
    .p-divider-vertical {
      padding: unset !important;
      margin: unset !important;
    }

    //.p-button {
      //padding: 0.3rem 0.5rem;
    //}
  }

  .tool-r2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .result {
      .value {
        font-weight: bold;
      }

      .send {
        font-weight: bold;
        color: var(--help-color);
      }

      .ok {
        color: var(--success-color);
      }

      .error {
        color: var(--danger-color);
      }

      .total {
        color: var(--primary-color);
      }
    }

    .choose-attach {
      .p-fileupload .p-button {
        background-color: transparent;
        color: #0ea5e9;
        border-color: transparent;
      }
    }
  }

  .ag-table {
    .ag-cell[col-id="send_status"] {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: unset;

      > div[ts-ag-cell-status] {
        display: flex;
      }
    }

    .ag-cell.icon-cell {
      display: flex;
      align-items: center;
      justify-content: center;

      > div:first-child {
        display: flex;
      }
    }

    .pi-icon {
      font-size: 1.5rem;

      &-state-error {
        color: red;
      }

      &.pi-check,
      &-state-success {
        color: rgb(20, 172, 71);
      }

      &-state-loading {
        color: rgb(221, 18, 194);
      }
    }
  }

  .r-divider {
    padding: 0 0.5rem;

    .p-divider.p-divider-horizontal {
      margin: 0 0 .5rem 0;
      
      &:before {
        border-top: 5px solid var(--info-color);
  
      }
    }
    
  }


}

.p-ticket-msg {
  width: 25rem;
}

.ag-header-cell-label {
  justify-content: center;
}

@media (min-height: 500px) {
  .ag-table {
    border-color: red;
  }
}
