<div class="search-user-form grid">
    <p-card class="col-12">
        <form [formGroup]="form" (ngSubmit)="clickSearch()" class="sm grid">
            <div class="p-fluid col-6">
                <label for="vat">Mã số thuế</label>
                <input pInputText id="vat" formControlName="vat"/>
            </div>
            <div class="p-fluid col-6">
                <label for="email">Email (Cá nhân *)</label>
                <input pInputText id="email" formControlName="email"/>
            </div>
            <div class="p-fluid col-6" *ngIf="state.allowNew">
                <label for="company_name">Tên công ty</label>
                <p-inputGroup class="flex">
                    <input pInputText formControlName="company_name" id="company_name"/>
                    <input pInputText formControlName="company_id" [style]="{'max-width': '80px'}"/>
                </p-inputGroup>
            </div>
            <div class="p-fluid col-6" *ngIf="state.allowNew">
                <label for="customer_name">Người liên hệ (Cá nhân) *</label>
                <p-inputGroup class="flex">
                    <input pInputText id="customer_name" formControlName="customer_name"/>
                    <input pInputText formControlName="customer_id" [style]="{'max-width': '80px'}" />
                </p-inputGroup>
            </div>
            <div class="p-fluid col-6" *ngIf="state.allowNew">
                <label for="street">Địa chỉ</label>
                <input pInputText id="street" formControlName="street"/>
            </div>
            <div class="p-fluid col-6" *ngIf="state.allowNew">
                <label for="phone">Số điện thoại (Cá nhân)</label>
                <input pInputText id="phone" formControlName="phone"/>
            </div>
            <div class="col-12 flex gap-5  align-items-center">
                <label for="search_where">Tìm theo: </label>
                <div class="flex gap-3 align-items-center" id="search_where">
                    <ng-template ngFor let-item [ngForOf]="searchWhere">
                        <p-checkbox [label]="item.label" [value]="item.name" [(ngModel)]="item.checked"
                                    [ngModelOptions]="{standalone: true}" [binary]="true"></p-checkbox>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 flex flex-wrap gap-4 mb-2 align-items-center">
                <span>Tùy chỉnh: </span>
                <p-radioButton label="Tìm gần đúng" name="operator" value="like"  formControlName="operator"></p-radioButton>
                <p-radioButton label="Tìm chính xác" name="operator" value="equal" formControlName="operator"></p-radioButton>
                <div class="inline-flex align-items-center gap-3">
                    <span class="font-weight-bold"> | Số dòng: </span>
                    <p-inputNumber inputId="minmax" mode="decimal" [min]="1" [max]="80" [useGrouping]="false"
                                   formControlName="pageSize" [inputStyle]="{'max-width': '100px'}" showButtons="false"/>
                    <div class="flex gap-1" *ngIf="page?.data">
                        <p-divider layout="vertical"></p-divider>
                        <label>Tìm được</label>
                        <b class="text-danger">{{ page.total }}</b>
                        <label>dòng</label>
                    </div>
                </div>
            </div>
            <div class="col-12 flex gap-2">
                <p-button label="Lấy mặc định" severity="warning" (click)="resetForm()"></p-button>
                <p-button label="Tìm kiếm" severity="primary" type="submit" [loading]="state.asyncLoading"></p-button>
                <p-button label="+ Cá nhân" severity="success" (click)="createContact('person')"
                          [loading]="state.asyncSave "
                          *ngIf="state.visiblePerson && state.allowNew"></p-button>
                <p-button label="+ Công ty" severity="info" (click)="createContact('company')"
                          [loading]="state.asyncSave "
                          *ngIf="state.visibleComp && state.allowNew"></p-button>
                <p-checkbox label="Tạo mới dữ liệu" [binary]="true"
                            (onChange)="state.allowNew = $event.checked"></p-checkbox>
            </div>
        </form>
    </p-card>
    <div class="col-12">
        <ts-ag-table [option]="tableOption" [tableHeight]="tableHeight" [columns]="columns" [rows]="rowData"
                     (rowClicked)="rowClicked($event.data)"></ts-ag-table>
    </div>

</div>



<!--<div class="col-12 flex flex-row justify-content-end gap-2" *ngIf="state.showToolbar">-->
<!--    <p-button label="Chọn" (onClick)="selectAndClose()" *ngIf="dataSelected"/>-->
<!--    <p-button label="Đóng" (onClick)="closeDialog()"/>-->
<!--</div>-->