<div class="search-user-form grid">
    <p-card class="col-12">
        <form [formGroup]="form" (ngSubmit)="clickSearch()" class="sm grid">
            <div class="col-12 grid">
                <div class="p-fluid col-12 sm:col-6 sm:col-order-1 col-order-1">
                    <label for="vat" class="text-info">Mã số thuế</label>
                    <ts-inputgroup compact="false">
                        <input pInputText id="vat" formControlName="vat" placeholder="VAT" />
                        <ng-template pTemplate="addonAfter">
                            <ts-inputgroup compact="false" [style]="{'max-width': '80px'}">
                                <input pInputText formControlName="company_id" placeholder="C_UID" />
                                <ng-template pTemplate="suffix" *ngIf="hasCompanyUID">
                                    <ts-icon name="pi pi-times" color="red" size=".8rem" (onClick)="clearUID('company_id')" />
                                </ng-template>
                            </ts-inputgroup>
                
                        </ng-template>
                    </ts-inputgroup>
                </div>
                <div class="p-fluid col-12 sm:col-6 sm:col-order-3 col-order-4">
                    <label for="company_name">Tên công ty</label>
                    <input pInputText formControlName="company_name" id="company_name" />
                </div>
                <div class="p-fluid col-12 sm:col-6 sm:col-order-5 col-order-5">
                    <label for="street">Địa chỉ</label>
                    <input pInputText id="street" formControlName="street" />
                </div>
                <div class="p-fluid col-12 sm:col-6 sm:col-order-2 col-order-2">
                    <label for="email" class="text-info">Email (Cá nhân *)</label>
                    <ts-inputgroup compact="false">
                        <input pInputText id="email" formControlName="email" placeholder="E-mail" />
                        <ng-template pTemplate="addonAfter">
                            <ts-inputgroup [style]="{'max-width': '80px'}">
                                <input pInputText formControlName="customer_id" placeholder="C_UID" />
                                <ng-template pTemplate="suffix" *ngIf="hasPersonUID">
                                    <ts-icon name="pi pi-times" color="red" size=".8rem" (onClick)="clearUID('customer_id')" />
                                </ng-template>
                            </ts-inputgroup>
                
                        </ng-template>
                    </ts-inputgroup>
                </div>
                <div class="p-fluid col-12 sm:col-6 sm:col-order-4 col-order-3">
                    <label for="mobile" class="text-info">Số điện thoại (Cá nhân)</label>
                    <input pInputText id="mobile" formControlName="mobile" />
                </div>
                <div class="p-fluid col-12 sm:col-6 sm:col-order-6 col-order-6">
                    <label for="customer_name">Người liên hệ (Cá nhân) *</label>
                    <input pInputText id="customer_name" formControlName="customer_name" />
                </div>               
            </div>
            <div class="col-12">
               <div class="flex-nowrap gap-3">
                <label for="search_where" class="options">Tìm theo: </label>
                <div class="flex-wrap-center flex-1 gap-3" id="search_where">
                    <ng-container formGroupName="options">
                        @for (opt of formOption; track $index) {
                        <p-checkbox label="{{opt.label | translate}}" [value]="opt.checked" [binary]="true"
                            [formControlName]="opt.name"></p-checkbox>
                        }
                    </ng-container>
                </div>
               </div>
            </div>
            <div class="col-12">
                <div class="flex-nowrap gap-3">
                <label class="options">Tùy chỉnh: </label>
                <div class="flex-wrap-center flex-1 gap-3">
                    <p-radioButton label="Tìm chính xác" value="equal" formControlName="operator"></p-radioButton>
                    <p-radioButton label="Tìm gần đúng" value="like" formControlName="operator"></p-radioButton>
                </div>
                </div>
            </div>
            <div class="col-12">
                <div class="flex-nowrap gap-3">
                <label for="search_result" class="options">Kết quả: </label>
                <div class="flex-wrap-center flex-1 gap-3" id="search_result">
                    <ts-label icon="pi pi-at" html=" Số dòng" class="gap-2"></ts-label>
                    <p-inputNumber [min]="1" [max]="80" formControlName="pageSize" [inputStyle]="{'max-width': '100px'}"
                        showButtons="false" placeholder="Số dòng" />
                    <div class="flex gap-1" *ngIf="!page?.data">
                        <p-divider layout="vertical"></p-divider>
                        <label>Tìm được</label>
                        <b class="text-danger">{{ page.total }}</b>
                        <label>dòng</label>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 flex-wrap-center gap-2">
             
                <ts-splitButton severity="info" label="Tìm theo form" icon="pi pi-search" [loading]="state.asyncLoading"
                    loadingIcon="pi pi-sync" (onClick)="clickSearch()" [model]="searchMenu" />

                <ts-splitButton visibleMenuButton="false" severity="warning" label="Tạo mới" icon="pi pi-user-plus"
                    [loading]="state.asyncSave" loadingIcon="pi pi-sync" [model]="newMenuItems"
                    *ngIf="visibleAllowNew" />

                <p-button label="Lấy mặc định" severity="success" (click)="clickResetForm()"></p-button>


            </div>
        </form>
    </p-card>
    <div class="col-12">
        <ts-ag-table #agTable [option]="tableOption" [tableHeight]="tableHeight" [columns]="columns" [rows]="rowData"
            (rowClicked)="clickRow($event.data)"></ts-ag-table>
    </div>

    <div class="col-12 flex flex-row justify-content-end gap-2" *ngIf="state.hasDialog">
        <p-button severity="help" label="Chọn và đóng" (onClick)="selectAndClose()" [disabled]="!dataSelect" />
        <p-button severity="info" label="Đóng" (onClick)="closeDialog()" />
    </div>

</div>