@use "../settings/config" as cfg;

// font icons
#{cfg.$icon-selector} {
  -fx-icon-color: -color-fg-default;
  -fx-fill: -color-fg-default;
  -fx-icon-size: cfg.$icon-size;
}

// Hide mnemonic stroke by default. It can only appear when user holds
// Meta button, which adds ":show-mnemonics" pseudo-class to each control
// that set mnemonicParsing = true.
.mnemonic-underline {
  -fx-stroke: transparent;
}