@use "sass:list";

@use "../settings/config" as cfg;
@use "../settings/colors_scale" as cl;

:root {

  // Colors
  // Generate palettes for full colors, grays, and theme colors.
  @each $map in cl.$allColor {

    @each $color, $value in $map {
      -color-#{$color}: #{$value};
    }

  }

  // Functional variables

  -color-fg-default:            cl.$fg-default;
  -color-fg-muted:              cl.$fg-muted;
  -color-fg-subtle:             cl.$fg-subtle;
  -color-fg-emphasis:           cl.$fg-onEmphasis;

  -color-bg-default:            cl.$canvas-default;
  -color-bg-overlay:            cl.$canvas-overlay;
  -color-bg-subtle:             cl.$canvas-subtle;
  -color-bg-inset:              cl.$canvas-inset;

  -color-border-default:        cl.$border-default;
  -color-border-muted:          cl.$border-muted;
  -color-border-subtle:         cl.$border-subtle;
  -color-shadow-default:        cl.$shadow-default;

  -color-neutral-emphasis-plus: cl.$neutral-emphasisPlus;
  -color-neutral-emphasis:      cl.$neutral-emphasis;
  -color-neutral-muted:         cl.$neutral-muted;
  -color-neutral-subtle:        cl.$neutral-subtle;

  -color-accent-fg:             cl.$accent-fg;
  -color-accent-emphasis:       cl.$accent-emphasis;
  -color-accent-muted:          cl.$accent-muted;
  -color-accent-subtle:         cl.$accent-subtle;

  -color-warning-fg:            cl.$warning-fg;
  -color-warning-emphasis:      cl.$warning-emphasis;
  -color-warning-muted:         cl.$warning-muted;
  -color-warning-subtle:        cl.$warning-subtle;

  -color-success-fg:            cl.$success-fg;
  -color-success-emphasis:      cl.$success-emphasis;
  -color-success-muted:         cl.$success-muted;
  -color-success-subtle:        cl.$success-subtle;

  -color-danger-fg:             cl.$danger-fg;
  -color-danger-emphasis:       cl.$danger-emphasis;
  -color-danger-muted:          cl.$danger-muted;
  -color-danger-subtle:         cl.$danger-subtle;

  -color-chart-1:               cl.$chart-1;
  -color-chart-2:               cl.$chart-2;
  -color-chart-3:               cl.$chart-3;
  -color-chart-4:               cl.$chart-4;
  -color-chart-5:               cl.$chart-5;
  -color-chart-6:               cl.$chart-6;
  -color-chart-7:               cl.$chart-7;
  -color-chart-8:               cl.$chart-8;

  -color-chart-1-alpha70:       cl.$chart-1-alpha70;
  -color-chart-2-alpha70:       cl.$chart-2-alpha70;
  -color-chart-3-alpha70:       cl.$chart-3-alpha70;
  -color-chart-4-alpha70:       cl.$chart-4-alpha70;
  -color-chart-5-alpha70:       cl.$chart-5-alpha70;
  -color-chart-6-alpha70:       cl.$chart-6-alpha70;
  -color-chart-7-alpha70:       cl.$chart-7-alpha70;
  -color-chart-8-alpha70:       cl.$chart-8-alpha70;

  -color-chart-1-alpha20:       cl.$chart-1-alpha20;
  -color-chart-2-alpha20:       cl.$chart-2-alpha20;
  -color-chart-3-alpha20:       cl.$chart-3-alpha20;
  -color-chart-4-alpha20:       cl.$chart-4-alpha20;
  -color-chart-5-alpha20:       cl.$chart-5-alpha20;
  -color-chart-6-alpha20:       cl.$chart-6-alpha20;
  -color-chart-7-alpha20:       cl.$chart-7-alpha20;
  -color-chart-8-alpha20:       cl.$chart-8-alpha20;

  // default props inherited by all nodes
  -fx-background-color: -color-bg-default;
  -fx-font-size: cfg.$font-size;
  -fx-font-family: cfg.$font-family;

  // these are needed for Popup
  -fx-background-radius: inherit;
  -fx-background-insets: inherit;
  -fx-padding: inherit;

  // make popups transparent
  &.popup {
    -fx-background-color: transparent;
  }



}