$cls             : 'ts-drawer';
$shadow-left: 6px 0 16px -8px #00000014,9px 0 28px #0000000d,12px 0 48px 16px #00000008;
$shadow-right: -6px 0 16px -8px #00000014,-9px 0 28px #0000000d,-12px 0 48px 16px #00000008;
$shadow-top:0 6px 16px -8px #00000014,0 9px 28px #0000000d,0 12px 48px 16px #00000008;
$shadow-bottom:0 -6px 16px -8px #00000014,0 -9px 28px #0000000d,0 -12px 48px 16px #00000008;
$drawer-content-bg: #fff;


.#{$cls} {
    z-index       : 1000;
    inset         : 0;
    position      : fixed;
    pointer-events: none;

    &-mask {
        position      : absolute;
        inset         : 0;
        background    : #00000073;
        pointer-events: auto;
    }

    &-content {

        & {
            width: 100%;
            height: 100%;
            overflow: auto;
            pointer-events: auto;
            background: $drawer-content-bg;

            display: flex;
            flex-flow: column nowrap;
            
        }

        &-wrapper {
            position  : absolute;
            transition: all .3s;
            width     : 378px;

            .#{$cls}-left>& {
                box-shadow: $shadow-left;
                inset     : 0 auto 0 0;
            }

            .#{$cls}-right>& {
                box-shadow: $shadow-right;
                inset     : 0 0 0 auto;
            }

            .#{$cls}-top>& {
                box-shadow: $shadow-top;
                inset     : 0 0 auto 0;
            }

            .#{$cls}-bottom>& {
                box-shadow: $shadow-bottom;
                inset     : auto 0 0 0;
            }
        }
    }


}