$prefix: '' !default;

// -- Spacing
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 2,
        6: $spacer * 2.5,
        7: $spacer * 3,
        8: $spacer * 3.5,
        9: $spacer * 4,
) !default;

$gutters: $spacers;

// -- Grid
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, x2l: 1400px, x3l: 1600px) !default;

$grid-row-columns: 6 !default;
$grid-gutter-width: 1rem !default;
$grid-gutter-x: calc($grid-gutter-width * .5) !default;
$grid-gutter-y: calc($grid-gutter-width * .5) !default;


$grid-columns: 12 !default;
$grid-col-prefix: 'col' !default;
$grid-row-prefix: 'row,.grid' !default;
$grid-separator: '\\:'!default;
// Container

$container-gutter-x: $grid-gutter-width * .5 !default;
$container-gutter-y: $grid-gutter-width * .5 !default;
$container-max-widths: ( sm: 540px,  md: 720px,  lg: 960px,  xl: 1140px,  xxl: 1320px,  x2l: 1320px,  x3l: 1540px,) !default;